body {
  background-color: #f9f9f9;
  padding-top: 80px;
}

/*
header
*/
header {
  overflow: hidden;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 10px 0;
  transition: height 0.5s;
  background: linear-gradient(white 95px, rgb(255, 255, 255) 95px, rgb(255, 255, 255));
  height: 80px;
}
header .container {
  transition: 1s;
  width: 1276px;
  border-radius: 40px;
  background-color: #f9f9f9;
  margin: 0 auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
header .container .center {
  width: 1276px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .center .logo {
  margin-left: 20px;
}
header .container .center .logo .logoh1 a {
  background: url(../images/cgv\ logo.png) no-repeat center/cover;
  width: 120px;
  height: 54px;
  display: block;
  text-indent: -9999em;
}
header .container .center nav > ul {
  display: flex;
  justify-content: space-between;
}
header .container .center nav {
  width: 800px;
  margin: 0 auto;
}
header .container .center nav > ul > li {
  text-align: center;
  width: 100%;
  line-height: 40px;
  position: relative;
  font-weight: bold;
}
header .container .center nav > ul > li .menu {
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
header .container .center nav > ul > li .menu::after {
  content: "";
  display: block;
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  width: 0%;
  transition: all 0.5s;
}
header .container .center nav > ul > li > ul {
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translateX(-50%);
  width: 100%;
}
header .container .center nav > ul > li > ul > li {
  white-space: nowrap;
  line-height: 45 px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
header .container .center nav > ul > li > ul > li > a {
  display: block;
  width: 100%;
  position: relative;
  color: black;
  border-radius: 10px;
  font-weight: normal;
}
header .container .center nav > ul > li > ul > li > a:hover {
  background-color: #141416;
  color: #f9f9f9;
}
header .container .center nav > ul > li:hover .menu::after {
  width: 100%;
}
header .container .center .three {
  position: relative;
  z-index: 50;
  transition: 0.5s;
}
header .container .center .three .login {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header .container .center .three .login i {
  line-height: 60px;
  margin-left: 23px;
}
header .container .center .three .login a {
  line-height: 60px;
  margin-left: 4.5px;
}
header .container .center .three .login .searcgs {
  background: url(../images/ico-search-white.png) no-repeat center/cover;
  width: 18px;
  height: 18px;
  line-height: 60px;
  margin-left: 23px;
}
header .container .center .three #myFoty {
  margin-right: 30px;
  position: absolute;
  left: 42%;
  z-index: 100;
  opacity: 0;
  transform: translateX(-50%);
  top: 46px;
  display: flex;
  align-items: center;
}
header .container .center .three #myFoty .box4 {
  width: 85px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .container .center .three #myFoty .box5 {
  padding-left: 10px;
  width: 240px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .container .center .three #myFoty #searchBtn {
  width: 50px;
  height: 38px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
}
header .container .center .three.on2 .login .searcgs {
  background: url(../images/btn-header-layer-close.png) no-repeat center/cover;
  width: 18px;
  height: 18px;
}
header .container .center .three.on2 #myFoty {
  opacity: 1;
}
header .container .center .spanBtn {
  position: absolute;
  right: 234px;
  top: 43px;
  transform: translateY(-50%);
  display: block;
}
header .container .center .spanBtn .line {
  margin: 6px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: all 1s;
}
header .container .center .spanBtn.chg .top {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
}
header .container .center .spanBtn.chg .mid {
  transform: translateX(10px);
  opacity: 0;
}
header .container .center .spanBtn.chg .bot {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
header .sideM {
  width: 280px;
  height: 100vh;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  right: -280px;
  transition: all 1s;
  z-index: 99;
}
header .sideM .lineBtn {
  position: relative;
  display: flex;
  flex-direction: column;
}
header .sideM .lineBtn .btn2 {
  display: block;
  position: absolute;
  right: 50px;
  top: 10%;
  transform: translateY(-50%);
}
header .sideM .lineBtn .btn2 .line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #141416;
  transition: all 1s;
}
header .sideM .lineBtn .btn2 .top2 {
  position: absolute;
  left: 0;
  top: 5px;
  transform: rotate(45deg);
}
header .sideM .lineBtn .btn2 .mid2 {
  transform: translateX(10px);
  opacity: 0;
  margin: 5px 0;
}
header .sideM .lineBtn .btn2 .bot2 {
  position: absolute;
  left: 0;
  bottom: 5px;
  transform: rotate(-45deg);
}
header .sideM .sidemenu {
  margin-top: 225px;
  margin-left: 20px;
}
header .sideM .sidemenu .mater {
  display: block;
}
header .sideM .sidemenu .mater li {
  line-height: 40px;
  font-weight: bold;
}
header .sideM .sidemenu .mater li .mDepth2 {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
header .sideM .sidemenu .mater li .mDepth2 li a {
  display: block;
  line-height: 50px;
  font-weight: lighter;
  text-indent: 25px;
  color: #141416;
}
header .sideM .sidemenu .three2 {
  margin-top: 150px;
}
header .sideM .sidemenu .three2 #myFoty {
  margin-right: 30px;
  z-index: 100;
  opacity: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
header .sideM .sidemenu .three2 #myFoty .box4 {
  width: 65px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .sideM .sidemenu .three2 #myFoty .box5 {
  padding-left: 10px;
  width: 150px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .sideM .sidemenu .three2 #myFoty #searchBtn {
  width: 50px;
  height: 38px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
  margin-left: 10px;
}

.sideM.move {
  right: 0;
}

header.fixer {
  position: fixed;
  top: 0;
  bottom: unset;
  display: block;
  z-index: 51;
  background-color: #141416;
}
header.fixer .container {
  width: 100%;
  border-radius: 0;
  background-color: #141416;
}
header.fixer .container .center {
  width: 1272px;
}
header.fixer .container .center .logoh1 a {
  background-image: url(../images/logoWhite.png);
}
header.fixer .container .center nav {
  width: 800px;
  margin: 0 auto;
}
header.fixer .container .center nav > ul > li .menu::after {
  background-color: #f9f9f9;
}
header.fixer .container .center nav > ul > li > a {
  color: #f9f9f9;
}
header.fixer .container .center nav > ul > li > ul:hover .menu::after {
  background: #f9f9f9;
}
header.fixer .container .center .three .login {
  color: #f9f9f9;
}
header.fixer .container .center .three .login i {
  color: #f9f9f9;
}
header.fixer .container .center .three .login a {
  color: #f9f9f9;
}
header.fixer .container .center .three .login .search {
  color: #f9f9f9;
}
header.fixer .container .center .spanBtn span {
  background-color: #f9f9f9;
}

/*
main
*/
main .mcontainer .section1 {
  background-color: #141416;
}
main .mcontainer .section1 .silder {
  position: relative;
  width: 1490px;
  height: 774px;
  margin: 0 auto;
}
main .mcontainer .section1 .silder .viewqer {
  display: flex;
  width: 100%;
}
main .mcontainer .section1 .silder .viewqer .sildenum {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: all 1s;
}
main .mcontainer .section1 .silder .viewqer .sildenum:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section1 .silder .viewqer .sildenum a img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section1 .btns .prevBtn {
  position: absolute;
  background: url(../images/leftBtn.png) no-repeat;
  width: 120px;
  height: 120px;
  left: -113px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  opacity: 0.6;
}
main .mcontainer .section1 .btns .prevBtn:hover {
  opacity: 1;
}
main .mcontainer .section1 .btns .nextBtn {
  position: absolute;
  background: url(../images/rightBtn.png) no-repeat;
  width: 120px;
  height: 120px;
  right: -180px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  opacity: 0.6;
}
main .mcontainer .section1 .btns .nextBtn:hover {
  opacity: 1;
}
main .mcontainer .section1 .circleBtn {
  z-index: 4;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 10;
}
main .mcontainer .section1 .circleBtn .on a {
  background-color: #f9f9f9;
  width: 250px;
  height: 2;
}
main .mcontainer .section1 .circleBtn li a {
  display: block;
  width: 250px;
  height: 2px;
  background-color: #6e6e6e;
  margin: 5px 3px;
  transition: all 0.5s;
}
main .mcontainer .section1 .circleBtn li:hover a {
  background-color: #f9f9f9;
}
main .mcontainer .section2 {
  background-color: #141416;
  padding: 0 0 50px 0;
}
main .mcontainer .section2 .center2 {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice {
  width: 50%;
  margin: 0px auto;
}
main .mcontainer .section2 .center2 .boxoffice .dtt {
  width: 385px;
  height: 367px;
  margin: 50px auto;
}
main .mcontainer .section2 .center2 .boxoffice .dtt .image1 {
  width: 100%;
  height: 100%;
  background: url(../images/small11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 173px;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view {
  width: 100%;
  height: 100%;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 {
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto {
  border: 1px solid #000;
  box-sizing: border-box;
  width: 125px;
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto a img {
  width: 100%;
  height: 173px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .age {
  position: absolute;
  top: 3px;
  left: 86px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .number {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
  font-size: 35px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .cinema4 .textds .contentds {
  position: absolute;
  display: none;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .cinema4 .Reviewt {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .prevBtn2 {
  left: -50px;
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .prevBtn2 i {
  color: #000;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .nextBtn2 {
  right: -50px;
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .nextBtn2 i {
  color: #000;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .circleBtn2 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .circleBtn2 li a {
  display: block;
  width: 20px;
  background-color: #f9f9f9;
  border-radius: 50%;
  height: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .circleBtn2 li.on a {
  background-color: #0063E5;
  width: 50px;
  border-radius: 20px;
}
main .mcontainer .section2 .center2 .boxoffice2 {
  width: 50%;
  margin: 0px auto;
}
main .mcontainer .section2 .center2 .boxoffice2 .image12 {
  margin: 50px auto;
  width: 385px;
  height: 367px;
  background-image: url(../images/small1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main .mcontainer .section2 .center2 .boxoffice2 .image12 img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 173px;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 {
  width: 100%;
  height: 100%;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 {
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 {
  border: 1px solid #000;
  box-sizing: border-box;
  width: 125px;
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 a img {
  width: 100%;
  height: 173px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .age {
  position: absolute;
  top: 3px;
  left: 86px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .number {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
  font-size: 35px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .cinema4 .textds .contentds {
  position: absolute;
  display: none;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .cinema4 .Reviewt {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .prevBtn22 {
  left: -100px;
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .prevBtn22 i {
  color: #000;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .nextBtn22 {
  right: -100px;
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .nextBtn22 i {
  color: #000;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .circleBtn22 {
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .circleBtn22 li a {
  display: block;
  width: 20px;
  background-color: #f9f9f9;
  border-radius: 50%;
  height: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .circleBtn22 li.on a {
  background-color: #0063E5;
  width: 50px;
  border-radius: 20px;
}
main .mcontainer .section3event {
  background-color: #141416;
  margin: 300px auto;
}
main .mcontainer .section3event .titletext {
  width: 1106px;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section3event .titletext h2 {
  color: #f9f9f9;
}
main .mcontainer .section3event .titletext h3 {
  color: #f9f9f9;
}
main .mcontainer .section3event .center {
  width: 1106px;
  margin: 0 auto;
  text-align: center;
  height: 800px;
}
main .mcontainer .section3event .center .Eventad > ul {
  display: flex;
  justify-content: center;
}
main .mcontainer .section3event .center .Eventad > ul li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 2px;
  height: 15px;
  background-color: #eb8102;
  margin: 0 31px;
}
main .mcontainer .section3event .center .Eventad > ul li a {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad > ul li:last-child::after {
  display: none;
}
main .mcontainer .section3event .center .Eventad > ul li.on a {
  color: red;
}
main .mcontainer .section3event .center .Eventad .box12 {
  display: flex;
  flex-wrap: wrap;
}
main .mcontainer .section3event .center .Eventad .box12 .all {
  width: 31.333333%;
  margin: 1%;
  position: relative;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg {
  width: 98%;
  height: 98%;
  opacity: 0;
  background-color: #dacf45;
  position: absolute;
  left: 5px;
  top: 4px;
  transition: all 0.5s;
  text-align: center;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg span {
  font-size: 100px;
  color: #f9f9f9;
  margin-top: 10%;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg h2 {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg p {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad .box12 .all img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section3event .center .Eventad .box12 .small {
  height: 91px;
}
main .mcontainer .section3event .center .Eventad .box12 .big {
  height: 208px;
}
main .mcontainer .section3event .center .Eventad .box12 .wide {
  width: 64.666666%;
  height: 202px;
}
main .mcontainer .section4 {
  background-color: #141416;
}
main .mcontainer .section4 .center {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section4 .center .box5 {
  width: 220px;
  height: 100px;
}
main .mcontainer .section4 .center .box5 .imageb {
  width: 65px;
  height: 50px;
  margin: 0 auto;
}
main .mcontainer .section4 .center .box5 .imageb img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section4 .center .box5 h3 {
  margin-top: 27px;
  color: #f9f9f9;
  text-align: center;
}
main .mcontainer .section5 {
  background-color: #141416;
}
main .mcontainer .section5 .titletext {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section5 .titletext h2 {
  color: #f9f9f9;
}
main .mcontainer .section5 .titletext h3 {
  color: #f9f9f9;
}
main .mcontainer .section5 .center {
  display: flex;
  margin: 0 auto;
  width: 1106px;
  justify-content: space-between;
}
main .mcontainer .section5 .center .picc {
  width: 49%;
  height: 316px;
  overflow: hidden;
  border-radius: 20px;
}
main .mcontainer .section5 .center .picc img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
main .mcontainer .section5 .center .picc:hover img {
  transform: scale(1.1);
}
main .mcontainer .section5 .center .specialbox2 {
  width: 49%;
  height: 310px;
}
main .mcontainer .section5 .center .specialbox2 .text23 {
  display: flex;
  height: 24.7%;
  width: 100%;
  border: 1px solid #adb5bd;
  align-items: center;
  justify-content: center;
  background-color: #141416;
  position: relative;
}
main .mcontainer .section5 .center .specialbox2 .text23 .src22 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 30;
  opacity: 0;
}
main .mcontainer .section5 .center .specialbox2 .text23 .src22 img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 29;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 h2 {
  color: #f9f9f9;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 h2:last-child {
  background-color: #0063E5;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
main .mcontainer .section6 {
  background-color: #141416;
}
main .mcontainer .section6 .center6 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section6 .center6 .menuflex {
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu {
  width: 40%;
  display: flex;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-right: 2px;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li a {
  background-color: #fff;
  color: #000;
  display: block;
  height: 100%;
  text-align: center;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li a.active {
  color: #fff;
  background: #0063E5;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div {
  display: none;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .image {
  width: 582px;
  height: 532px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .image img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs {
  display: flex;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext {
  margin-left: 88px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop {
  text-align: center;
  margin-bottom: 27px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop .src22 {
  width: 170px;
  height: 170px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop .src22 img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop h2 {
  color: #f9f9f9;
  margin: 23px auto;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop h3 {
  color: #f9f9f9;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div.active {
  display: flex;
}
main .mcontainer .section7 .center8 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section7 .center8 .bigbox {
  display: flex;
  border: 1px solid #141416;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet {
  display: flex;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet h2 {
  margin: 21px 10px 20px 41px;
  font-size: 14px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet h3 {
  margin: 21px 10px 20px 41px;
  font-size: 16px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box {
  width: 81px;
  height: 32px;
  background-color: #0063E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 3 px 0 20px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box p {
  width: 100%;
  height: 100%;
  color: #f9f9f9;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box span {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 {
  display: flex;
  margin-bottom: 23px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 h2 {
  font-size: 14px;
  margin: 0 48px 0 41px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 h3 {
  font-size: 16px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox {
  display: flex;
  border-top: 1px solid #141416;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox h2 {
  margin: 42px 41px;
  font-size: 16px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 {
  display: flex;
  margin: 32px 0 0 38px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 p {
  margin-right: 18px;
  font-size: 16px;
  width: 90px;
  height: 35px;
  background-color: #0063E5;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 {
  display: flex;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 h2 {
  margin-left: 41px;
  font-size: 16px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 .faq3 p {
  font-size: 16px;
  width: 203px;
  height: 35px;
  background-color: #0063E5;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-bottom: 10px;
}
main .mcontainer .section7 .center8 .bigbox .download {
  text-align: center;
  border-left: 1px solid #141416;
  border-right: 1px solid #141416;
}
main .mcontainer .section7 .center8 .bigbox .download h2 {
  margin: 22px 0;
}
main .mcontainer .section7 .center8 .bigbox .download p {
  margin: 0 40px;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcode {
  width: 52px;
  height: 52px;
  margin: 21px auto;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcode img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section7 .center8 .bigbox .download p:last-child {
  margin: 22px 0;
}
main .mcontainer .section7 .center8 .bigbox .bugs {
  width: 204px;
}
main .mcontainer .section7 .center8 .bigbox .bugs img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section9 .poster {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
main .mcontainer .section9 .poster img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
 footer

*/
footer {
  width: 1106px;
  margin: 0 auto;
}
footer nav ul {
  display: flex;
}
footer nav ul li {
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 25%;
}
footer nav ul li span {
  line-height: 27px;
}
footer nav ul li a {
  line-height: 27px;
}
footer nav ul:nth-child(2) {
  margin: 27px 0;
}
footer nav ul:nth-child(4) {
  margin: 27px 0 54px 0;
}
footer .AllRights {
  display: flex;
}