body {
  overflow-y: scroll;
}

header {
  background: #fff;
  padding: 13px 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  transition: height 0.5s;
  overflow: hidden;
  height: 80px;
}
header > div {
  display: flex;
  justify-content: space-between;
}
header .container {
  background-color: #fff;
  margin: 0 auto;
  width: 1159px;
}
header .container .logo .logoh1 a {
  background: url(../images/cgv\ logo.png) no-repeat center/cover;
  width: 120px;
  height: 54px;
  display: block;
  text-indent: -9999em;
}
header .container nav {
  width: 960px;
  margin: 0 auto;
}
header .container nav > ul {
  display: flex;
  justify-content: center;
  gap: 59px;
}
header .container nav > ul > li {
  display: flex;
  line-height: 50px;
  margin-right: 40px;
  position: relative;
}
header .container nav > ul > li ul {
  width: 100%;
  position: absolute;
}
header .container nav > ul > li ul li {
  white-space: nowrap;
}
header .container .login ul {
  display: flex;
}
header .sideM {
  display: none;
}