body {
  background-color: #f9f9f9;
  height: 80px;
}

/*
header
*/
#myFoty {
  margin-right: 30px;
  position: fixed;
  left: calc(50% + 0px);
  z-index: 100;
  transform: translateX(-50%);
  top: 79px;
  display: flex;
  align-items: center;
}
#myFoty .box4 {
  position: relative;
  display: none;
}
#myFoty .box4 .bbox {
  position: absolute;
  right: calc(50% - 554px);
  display: flex;
  align-items: center;
}
#myFoty .box4 .bbox .box5 {
  padding-left: 10px;
  width: 1037px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
#myFoty .box4 .bbox #searchBtn {
  width: 50px;
  height: 38px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
}

#myFoty.on {
  z-index: 100;
}
#myFoty.on .box4 {
  display: block;
}

header {
  overflow: hidden;
  z-index: 150;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 10px 0;
  transition: height 0.5s;
  background: linear-gradient(white 95px, rgb(255, 255, 255) 95px, rgb(255, 255, 255));
  height: 80px;
}
header .container {
  transition: 1s;
  width: 1106px;
  border-radius: 40px;
  background-color: #f9f9f9;
  margin: 0 auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
header .container .center {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .center .logo {
  margin-left: 20px;
}
header .container .center .logo .logoh1 a {
  background: url(../images/cgv\ logo.png) no-repeat center/cover;
  width: 120px;
  height: 54px;
  display: block;
  text-indent: -9999em;
}
header .container .center nav > ul {
  display: flex;
  justify-content: space-between;
}
header .container .center nav {
  width: 61%;
  margin: 0 auto;
}
header .container .center nav > ul > li {
  text-align: center;
  width: 100%;
  line-height: 40px;
  position: relative;
  font-weight: bold;
}
header .container .center nav > ul > li .menu {
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
header .container .center nav > ul > li .menu::after {
  content: "";
  display: block;
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  width: 0%;
  transition: all 0.5s;
}
header .container .center nav > ul > li > ul {
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translateX(-50%);
  width: 100%;
}
header .container .center nav > ul > li > ul > li {
  white-space: nowrap;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}
header .container .center nav > ul > li > ul > li > a {
  display: block;
  line-height: 45px;
  width: 100%;
  position: relative;
  color: black;
  border-radius: 10px;
  font-weight: normal;
}
header .container .center nav > ul > li > ul > li > a:hover {
  background-color: #141416;
  color: #f9f9f9;
}
header .container .center nav > ul > li:hover .menu::after {
  width: 100%;
}
header .container .center .three {
  position: relative;
  z-index: 50;
  transition: 0.5s;
}
header .container .center .three .login {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header .container .center .three .login i {
  line-height: 60px;
  margin-left: 23px;
}
header .container .center .three .login a {
  line-height: 60px;
  margin-left: 4.5px;
}
header .container .center .three .login .searcgs {
  background: url(../images/ico-search-white.png) no-repeat center/cover;
  width: 25px;
  height: 25px;
  display: block;
  line-height: 60px;
  margin-left: 23px;
  border: none;
}
header .container .center .three.on2 .login .searcgs {
  background: url(../images/btn-header-layer-close.png) no-repeat center/cover;
  width: 25px;
  height: 25px;
  border: none;
  line-height: 60px;
  margin-left: 23px;
}
header .container .center .spanBtn {
  position: absolute;
  right: 234px;
  top: 43px;
  transform: translateY(-50%);
  display: block;
}
header .container .center .spanBtn .line {
  margin: 6px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: all 1s;
}
header .container .center .spanBtn.chg .top {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
}
header .container .center .spanBtn.chg .mid {
  transform: translateX(10px);
  opacity: 0;
}
header .container .center .spanBtn.chg .bot {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
header .sideM {
  width: 480px;
  height: 100vh;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  right: -480px;
  transition: all 1s;
  z-index: 130;
}
header .sideM .lineBtn {
  position: relative;
  display: flex;
  flex-direction: column;
}
header .sideM .lineBtn .btn2 {
  display: block;
  position: absolute;
  right: 50px;
  top: 95px;
  transform: translateY(-50%);
}
header .sideM .lineBtn .btn2 .line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #141416;
  transition: all 1s;
}
header .sideM .lineBtn .btn2 .top2 {
  position: absolute;
  left: 0;
  top: 5px;
  transform: rotate(45deg);
}
header .sideM .lineBtn .btn2 .mid2 {
  transform: translateX(10px);
  opacity: 0;
  margin: 5px 0;
}
header .sideM .lineBtn .btn2 .bot2 {
  position: absolute;
  left: 0;
  bottom: 5px;
  transform: rotate(-45deg);
}
header .sideM .sidemenu {
  margin-top: 225px;
  margin-left: 20px;
}
header .sideM .sidemenu .mater {
  display: block;
}
header .sideM .sidemenu .mater > li {
  line-height: 40px;
  font-weight: bold;
  position: relative;
}
header .sideM .sidemenu .mater > li a {
  width: 100%;
  display: block;
}
header .sideM .sidemenu .mater > li:after {
  content: "";
  width: 10px;
  height: 1px;
  background: #000;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s;
  transform: rotate(90deg);
}
header .sideM .sidemenu .mater > li:before {
  content: "";
  width: 10px;
  height: 1px;
  background: #000;
  position: absolute;
  right: 10px;
  top: 20px;
}
header .sideM .sidemenu .mater > li .mDepth2 {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
header .sideM .sidemenu .mater > li .mDepth2 li {
  font-size: 14px;
}
header .sideM .sidemenu .mater > li .mDepth2 li a {
  display: block;
  line-height: 50px;
  font-weight: lighter;
  text-indent: 25px;
  color: #141416;
}
header .sideM .sidemenu .mater > li .mDepth2 li:hover li {
  background-color: #141416;
  color: #f9f9f9;
}
header .sideM .sidemenu .mater > li.on:after {
  transform: none;
}
header .sideM .sidemenu .three2 {
  margin-top: 57px;
}
header .sideM .sidemenu .three2 #myFoty2 {
  margin-right: 30px;
  z-index: 100;
  opacity: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
header .sideM .sidemenu .three2 #myFoty2 .box4 {
  width: 65px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .sideM .sidemenu .three2 #myFoty2 .box5 {
  padding-left: 10px;
  width: 150px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
header .sideM .sidemenu .three2 #myFoty2 #searchBtn {
  width: 50px;
  height: 38px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
  margin-left: 10px;
}
header .sideM .sidemenu .three2 .yftbox {
  display: flex;
  justify-content: start;
  margin-top: 15px;
}
header .sideM .sidemenu .three2 .yftbox a {
  margin-right: 19px;
}
header .sideM .sidemenu .three2 .yftbox span {
  margin-left: 20px;
}
header .sideM .sidemenu .three2 .yftbox .sns {
  color: #0063E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .sideM .sidemenu .three2 .yftbox .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #141416;
}
header .sideM .sidemenu .three2 .yftbox .youtube i {
  font-size: 25px;
  color: #f9f9f9;
}
header .sideM .sidemenu .three2 .yftbox .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #141416;
}
header .sideM .sidemenu .three2 .yftbox .facebook i {
  font-size: 25px;
  color: #f9f9f9;
}
header .sideM .sidemenu .three2 .yftbox .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #141416;
}
header .sideM .sidemenu .three2 .yftbox .twitter i {
  font-size: 25px;
  color: #f9f9f9;
}
header .sideM .sidemenu .three2 .yftbox .instar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #141416;
}
header .sideM .sidemenu .three2 .yftbox .instar i {
  font-size: 25px;
  color: #f9f9f9;
}

.sideM.move {
  right: 0;
}

header.fixer {
  position: fixed;
  top: 0;
  bottom: unset;
  display: block;
  z-index: 51;
  background-color: #141416;
}
header.fixer .container {
  width: 100%;
  border-radius: 0;
  background-color: #141416;
}
header.fixer .container .center {
  width: 1106px;
}
header.fixer .container .center .logoh1 a {
  background-image: url(../images/logoWhite.png);
}
header.fixer .container .center nav {
  width: 61%;
  margin: 0 auto;
}
header.fixer .container .center nav > ul > li .menu::after {
  background-color: #f9f9f9;
}
header.fixer .container .center nav > ul > li > a {
  color: #f9f9f9;
}
header.fixer .container .center nav > ul > li > ul:hover .menu::after {
  background: #f9f9f9;
}
header.fixer .container .center .three .login {
  color: #f9f9f9;
}
header.fixer .container .center .three .login i {
  color: #f9f9f9;
}
header.fixer .container .center .three .login a {
  color: #f9f9f9;
}
header.fixer .container .center .three .login .search {
  color: #f9f9f9;
}
header.fixer .container .center .spanBtn span {
  background-color: #f9f9f9;
}

/*
main
*/
main .mcontainer .section1 {
  background-color: #141416;
  padding-top: 80px;
}
main .mcontainer .section1 .silder {
  position: relative;
  width: 1490px;
  height: 774px;
  margin: 0 auto;
}
main .mcontainer .section1 .silder .viewqer {
  display: flex;
  width: 100%;
}
main .mcontainer .section1 .silder .viewqer .sildenum {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: all 1s;
}
main .mcontainer .section1 .silder .viewqer .sildenum:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section1 .silder .viewqer .sildenum a img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section1 .btnsqw .prevBtnqw {
  position: absolute;
  background: url(../images/leftBtn.png) no-repeat;
  width: 120px;
  height: 120px;
  right: calc(50% + 729px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  opacity: 0.6;
}
main .mcontainer .section1 .btnsqw .prevBtnqw:hover {
  opacity: 1;
}
main .mcontainer .section1 .btnsqw .nextBtnqw {
  position: absolute;
  background: url(../images/rightBtn.png) no-repeat;
  width: 120px;
  height: 120px;
  left: calc(50% + 807px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  opacity: 0.6;
}
main .mcontainer .section1 .btnsqw .nextBtnqw:hover {
  opacity: 1;
}
main .mcontainer .section1 .circleBtn3 {
  z-index: 4;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 10;
}
main .mcontainer .section1 .circleBtn3 .on a {
  background-color: #f9f9f9;
  width: 250px;
  height: 2;
}
main .mcontainer .section1 .circleBtn3 li a {
  display: block;
  width: 250px;
  height: 2px;
  background-color: #6e6e6e;
  margin: 5px 3px;
  transition: all 0.5s;
}
main .mcontainer .section1 .circleBtn3 li:hover a {
  background-color: #f9f9f9;
}
main .mcontainer .section2 {
  background-color: #141416;
  padding: 135px 0;
}
main .mcontainer .section2 .center2 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section2 .center2 .boxoffice {
  width: 100%;
  margin: 0px auto;
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice .movie {
  text-align: center;
  padding-bottom: 54px;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .movie .zero {
  opacity: 0;
}
main .mcontainer .section2 .center2 .boxoffice .movie h2 {
  color: #f9f9f9;
  font-size: 32px;
  font-weight: bold;
}
main .mcontainer .section2 .center2 .boxoffice .cut {
  position: absolute;
  top: 46px;
  right: 0;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor {
  display: flex;
  justify-content: end;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor .current_time {
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor .current_time > div {
  font-size: 20px;
  color: #fff;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor .days {
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor .days > div {
  font-size: 20px;
  color: #fff;
}
main .mcontainer .section2 .center2 .boxoffice .cut .hcolor .days span {
  color: #fff;
  font-size: 20px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view {
  width: 100%;
  height: 395px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view > div {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 {
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto {
  border: 2px solid #141416;
  box-sizing: border-box;
  width: 243px;
  height: 337px;
  position: relative;
  border-radius: 10px;
  margin-right: 45px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto a img {
  width: 100%;
  height: 100%;
  border-radius: 10PX;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .age {
  position: absolute;
  top: 25px;
  right: calc(50% - 107px);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .age img {
  width: 30px;
  height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .number {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: #f9f9f9;
  font-size: 45px;
  font-family: "Shrikhand", serif;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .cinema4 {
  position: absolute;
  bottom: 40px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .cinema5 {
  position: absolute;
  bottom: 26px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .cinema6 {
  position: absolute;
  bottom: 10px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing .heartbox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f9f9f9;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing .heartbox .favo {
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing .heartbox .numerk {
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing .ticketing {
  width: 130px;
  height: 30px;
  background-color: #0063E5;
  border-radius: 10px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .heartTicketing .ticketing span {
  color: #f9f9f9;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg {
  opacity: 0;
  transition: all 0.5s;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 105%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .text {
  position: absolute;
  top: 34%;
  left: 50%;
  height: 140px;
  transform: translate(-50%, -50%);
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .text .content {
  display: block;
  width: 187px;
  line-height: 24px;
  height: 140px;
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .Reviewt {
  position: absolute;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .Reviewt .Rev {
  display: block;
  color: #f9f9f9;
  font-size: 20px;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg .Reviewt .Review {
  display: block;
  color: #f9f9f9;
  font-size: 25px;
  line-height: 30px;
  margin-left: 8px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto .trbg:last-child {
  margin-right: 0;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .view .pto3 .pto:hover .trbg {
  opacity: 1;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 > div {
  position: absolute;
  top: 41%;
  transform: translateY(-41%);
  z-index: 5;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .prevBtn2 {
  right: calc(50% + 560px);
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .prevBtn2 i {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .nextBtn2 {
  left: calc(50% + 560px);
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice .smallslider .btns2 .nextBtn2 i {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice .search_text {
  position: absolute;
  top: 4px;
  left: calc(50% + 367px);
  display: flex;
  align-items: center;
}
main .mcontainer .section2 .center2 .boxoffice .search_text h3 {
  color: #f9f9f9;
  font-size: 22px;
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice .search_text h3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
main .mcontainer .section2 .center2 .boxoffice .search_text span {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice .search_text:hover h3:after {
  transform: none;
}
main .mcontainer .section2 .center2 .boxoffice2 {
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 {
  text-align: center;
  padding: 135px 0 54px 0;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .zero {
  opacity: 0;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 h2 {
  color: #f9f9f9;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 {
  position: absolute;
  top: 186px;
  right: 0;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor {
  display: flex;
  justify-content: end;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor .current_time {
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor .current_time > div {
  font-size: 20px;
  color: #fff;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor .days {
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor .days > div {
  font-size: 20px;
  color: #fff;
}
main .mcontainer .section2 .center2 .boxoffice2 .movie2 .cut2 .hcolor .days span {
  color: #fff;
  font-size: 20px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 {
  width: 100%;
  height: 395px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 > div {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 {
  display: flex;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 {
  border: 2px solid #141416;
  box-sizing: border-box;
  width: 243px;
  height: 337px;
  position: relative;
  border-radius: 10px;
  margin-right: 45px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 a img {
  width: 100%;
  height: 100%;
  border-radius: 10PX;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .age {
  position: absolute;
  top: 25px;
  right: calc(50% - 107px);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .age img {
  width: 30px;
  height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .number {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: #f9f9f9;
  font-size: 45px;
  font-family: "Shrikhand", serif;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .cinema4 {
  position: absolute;
  bottom: 40px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .cinema5 {
  position: absolute;
  bottom: 26px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .cinema6 {
  position: absolute;
  bottom: 10px;
  right: calc(50% - 110px);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .text {
  position: absolute;
  top: 34%;
  left: 50%;
  height: 140px;
  transform: translate(-50%, -50%);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .text .content {
  display: block;
  width: 187px;
  line-height: 24px;
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing .heartbox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f9f9f9;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing .heartbox .favo {
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing .heartbox .numerk {
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing .ticketing {
  width: 130px;
  height: 30px;
  background-color: #0063E5;
  border-radius: 10px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .heartTicketing .ticketing span {
  color: #f9f9f9;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg {
  opacity: 0;
  transition: all 0.5s;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 101%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .text {
  position: absolute;
  top: 34%;
  left: 50%;
  height: 140px;
  transform: translate(-50%, -50%);
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .text .content {
  display: block;
  width: 187px;
  line-height: 24px;
  height: 140px;
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .Reviewt {
  position: absolute;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .Reviewt .Rev {
  display: block;
  color: #f9f9f9;
  font-size: 20px;
  line-height: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg .Reviewt .Review {
  display: block;
  color: #f9f9f9;
  font-size: 25px;
  line-height: 30px;
  margin-left: 8px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2 .trbg:last-child {
  margin-right: 0;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .view2 .pto4 .pto2:hover .trbg {
  opacity: 1;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 > div {
  position: absolute;
  top: 41%;
  transform: translateY(-41%);
  z-index: 5;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .prevBtn22 {
  right: calc(50% + 560px);
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .prevBtn22 i {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .nextBtn22 {
  left: calc(50% + 560px);
  font-size: 30px;
}
main .mcontainer .section2 .center2 .boxoffice2 .smallslider2 .btns22 .nextBtn22 i {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice2 .search_text {
  position: absolute;
  top: 139px;
  left: calc(50% + 367px);
  display: flex;
  align-items: center;
}
main .mcontainer .section2 .center2 .boxoffice2 .search_text h3 {
  color: #f9f9f9;
  font-size: 22px;
  position: relative;
}
main .mcontainer .section2 .center2 .boxoffice2 .search_text h3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
main .mcontainer .section2 .center2 .boxoffice2 .search_text span {
  color: #f9f9f9;
}
main .mcontainer .section2 .center2 .boxoffice2 .search_text:hover h3::after {
  transform: none;
}
main .mcontainer .section3event {
  background-color: #141416;
  position: relative;
}
main .mcontainer .section3event .titletext {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section3event .titletext h2 {
  color: #f9f9f9;
}
main .mcontainer .section3event .titletext h3 {
  display: none;
}
main .mcontainer .section3event .center {
  width: 1106px;
  margin: 0 auto;
  text-align: center;
  height: 601px;
}
main .mcontainer .section3event .center .Eventad > ul {
  display: flex;
  justify-content: center;
}
main .mcontainer .section3event .center .Eventad > ul li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 2px;
  height: 15px;
  background-color: #eb8102;
  margin: 0 31px;
}
main .mcontainer .section3event .center .Eventad > ul li a {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad > ul li:last-child::after {
  display: none;
}
main .mcontainer .section3event .center .Eventad > ul li.on a {
  color: red;
}
main .mcontainer .section3event .center .Eventad .box12 {
  display: flex;
  flex-wrap: wrap;
}
main .mcontainer .section3event .center .Eventad .box12 .all {
  width: 31.333333%;
  margin: 1%;
  position: relative;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg {
  width: 98%;
  height: 98%;
  opacity: 0;
  background-color: #dacf45;
  position: absolute;
  left: 5px;
  top: 4px;
  transition: all 0.5s;
  text-align: center;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg span {
  font-size: 100px;
  color: #f9f9f9;
  margin-top: 10%;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg h2 {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad .box12 .all .bg p {
  color: #f9f9f9;
}
main .mcontainer .section3event .center .Eventad .box12 .all img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 8px;
}
main .mcontainer .section3event .center .Eventad .box12 .small {
  height: 91px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter {
  width: 300px;
  margin: 0 auto;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass .passflex .smallpicture {
  display: flex;
  justify-content: start;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass .passflex .smallpicture h2 {
  font-weight: bold;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass .passflex .smallp {
  text-align: start;
  margin-top: 10px;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass .passflex .smallp p {
  line-height: 20px;
}
main .mcontainer .section3event .center .Eventad .box12 .small .smallcenter .pass .crown i {
  font-size: 50px;
}
main .mcontainer .section3event .center .Eventad .box12 .big {
  height: 208px;
}
main .mcontainer .section3event .center .Eventad .box12 .wide {
  width: 64.666666%;
  height: 202px;
}
main .mcontainer .section3event .entire {
  position: absolute;
  top: 0;
  left: calc(50% + 470px);
  display: flex;
  align-items: center;
}
main .mcontainer .section3event .entire h3 {
  color: #f9f9f9;
  position: relative;
}
main .mcontainer .section3event .entire h3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
main .mcontainer .section3event .entire span {
  color: #f9f9f9;
}
main .mcontainer .section3event .entire:hover h3::after {
  transform: none;
}
main .mcontainer .section4 {
  background-color: #141416;
}
main .mcontainer .section4 .center {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section4 .center .box5 {
  width: 220px;
  height: 100px;
}
main .mcontainer .section4 .center .box5 .imageb {
  width: 65px;
  height: 50px;
  margin: 0 auto;
}
main .mcontainer .section4 .center .box5 .imageb img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section4 .center .box5 h3 {
  margin-top: 27px;
  color: #f9f9f9;
  text-align: center;
}
main .mcontainer .section8000 {
  background-color: #0458C6;
  position: relative;
}
main .mcontainer .section8000 .count {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section8000 .count .picturep {
  width: 1090px;
  height: 268px;
}
main .mcontainer .section8000 .count .picturep img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section8000 .count .pointbg .countUp2 {
  width: 197px;
  height: 84px;
  position: absolute;
  top: 118px;
  left: calc(50% - 509px);
  background-color: #0458C6;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section8000 .count .pointbg .countUp2 p {
  color: #dacf45;
  font-size: 80px;
  font-weight: bold;
}
main .mcontainer .section8000 .count .pointbg .cgvcinema {
  top: 136px;
  left: calc(50% + 389px);
  position: absolute;
  width: 104px;
  height: 133px;
  background-color: #eb8102;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .mcontainer .section8000 .count .pointbg .cgvcinema a {
  text-align: center;
}
main .mcontainer .section8000 .count .pointbg .cgvcinema span {
  color: #f9f9f9;
  line-height: 30px;
  font-size: 20px;
}
main .mcontainer .section5 {
  background-color: #141416;
  position: relative;
}
main .mcontainer .section5 .titletext {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section5 .titletext h2 {
  color: #f9f9f9;
}
main .mcontainer .section5 .titletext h3 {
  color: #f9f9f9;
  display: none;
}
main .mcontainer .section5 .center {
  display: flex;
  margin: 0 auto;
  width: 1106px;
  justify-content: space-between;
}
main .mcontainer .section5 .center .picc {
  width: 49%;
  height: 316px;
  overflow: hidden;
  border-radius: 20px;
}
main .mcontainer .section5 .center .picc img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
main .mcontainer .section5 .center .picc:hover img {
  transform: scale(1.1);
}
main .mcontainer .section5 .center .specialbox2 {
  width: 49%;
  height: 310px;
}
main .mcontainer .section5 .center .specialbox2 .text23 {
  display: flex;
  height: 24.7%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #adb5bd;
  align-items: center;
  justify-content: center;
  background-color: #141416;
  position: relative;
}
main .mcontainer .section5 .center .specialbox2 .text23 .src22 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 30;
  opacity: 0;
}
main .mcontainer .section5 .center .specialbox2 .text23 .src22 img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 29;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 h2 {
  color: #f9f9f9;
}
main .mcontainer .section5 .center .specialbox2 .text23 .text32 h2:last-child {
  background-color: #0063E5;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
main .mcontainer .section5 .center .entire {
  position: absolute;
  top: -8px;
  left: calc(50% + 470px);
  display: flex;
  align-items: center;
}
main .mcontainer .section5 .center .entire h3 {
  color: #f9f9f9;
  position: relative;
}
main .mcontainer .section5 .center .entire h3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
main .mcontainer .section5 .center .entire span {
  color: #f9f9f9;
}
main .mcontainer .section5 .center .entire:hover h3::after {
  transform: none;
}
main .mcontainer .section6 {
  background-color: #141416;
  position: relative;
}
main .mcontainer .section6 .center6 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section6 .center6 .titletext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mcontainer .section6 .center6 .titletext .title {
  color: #f9f9f9;
}
main .mcontainer .section6 .center6 .titletext h3 {
  display: none;
}
main .mcontainer .section6 .center6 .menuflex {
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu {
  width: 40%;
  display: flex;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-right: 2px;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li a {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  display: block;
  height: 100%;
  text-align: center;
}
main .mcontainer .section6 .center6 .menuflex .tabMenu li a.active {
  color: #fff;
  background: #0063E5;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div {
  display: none;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .image {
  width: 540px;
  height: 532px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs {
  display: flex;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext {
  margin-left: 88px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop {
  text-align: center;
  margin-bottom: 27px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 .src22, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop .src22 {
  width: 170px;
  height: 170px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 .src22 img, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop .src22 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 h2, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop h2 {
  color: #f9f9f9;
  margin: 23px auto;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox2 .text23 .tabs .tabtext .textop h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox22 .text23 .tabs .tabtext .textop h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .text32 h3, main .mcontainer .section6 .center6 .Wrap .tabCont > div .tabbox33 .text23 .tabs .tabtext .textop h3 {
  color: #f9f9f9;
}
main .mcontainer .section6 .center6 .Wrap .tabCont > div.active {
  display: flex;
  justify-content: space-between;
}
main .mcontainer .section6 .center6 .entire {
  position: absolute;
  top: -3px;
  left: calc(50% + 470px);
  display: flex;
  align-items: center;
}
main .mcontainer .section6 .center6 .entire h3 {
  color: #f9f9f9;
  position: relative;
}
main .mcontainer .section6 .center6 .entire h3:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
main .mcontainer .section6 .center6 .entire span {
  color: #f9f9f9;
}
main .mcontainer .section6 .center6 .entire:hover h3::after {
  transform: none;
}
main .mcontainer .section7 {
  background-color: #141416;
}
main .mcontainer .section7 .center8 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section7 .center8 .bigbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}
main .mcontainer .section7 .center8 .bigbox .noticebox {
  width: 54%;
  margin: 0 auto;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .notice1 {
  margin: 27px 0;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .notice1 h2 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box {
  width: 81px;
  height: 32px;
  background-color: #0063E5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box p {
  width: 100%;
  height: 100%;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet .box span {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 27px;
  display: flex;
  justify-content: start;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 h2 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .notice .noticet2 h3 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq {
  border-top: 1px solid #fff;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faqcenter {
  display: flex;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faqcenter h2 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faqcenter p {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 {
  display: flex;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 .faq3 {
  margin-right: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0063E5;
  border-radius: 8px;
  width: 81px;
  height: 32px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 .faq3 p {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 .faq4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0063E5;
  border-radius: 8px;
  width: 81px;
  height: 32px;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox .faq2 .faq4 p {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 .work {
  margin: 27px 0;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 .work h2 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 .faq5 {
  background-color: #0063E5;
  border-radius: 8px;
  width: 200px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mcontainer .section7 .center8 .bigbox .noticebox .faq .faqbox2 .faq5 p {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .download {
  width: 24%;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
main .mcontainer .section7 .center8 .bigbox .download .apdown {
  margin: 27px 0;
}
main .mcontainer .section7 .center8 .bigbox .download .apdown h2 {
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .download .cgvap {
  font-size: 14px;
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcode {
  width: 52px;
  height: 52px;
  margin: 27px auto;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcode img {
  width: 100%;
  height: 100%;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcodes {
  margin-bottom: 27px;
}
main .mcontainer .section7 .center8 .bigbox .download .qrcodes p {
  font-size: 14px;
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .download .qrq {
  margin-bottom: 27px;
}
main .mcontainer .section7 .center8 .bigbox .download .qrq p {
  font-size: 14px;
  color: #f9f9f9;
}
main .mcontainer .section7 .center8 .bigbox .bugs {
  width: 22%;
  height: 272px;
}
main .mcontainer .section7 .center8 .bigbox .bugs .cont7 .slideWrap .swiper-wrapper .swiper-slide {
  width: 204px;
  height: 272px;
}
main .mcontainer .section7 .center8 .bigbox .bugs .cont7 .slideWrap .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}
main .mcontainer .section8 {
  background-color: #141416;
}
main .mcontainer .section8 .center8 {
  width: 1106px;
  margin: 0 auto;
}
main .mcontainer .section8 .center8 .center8h2 {
  display: flex;
  justify-content: center;
}
main .mcontainer .section8 .center8 .center8h2 h2 {
  font-size: 42px;
  font-weight: bold;
  color: #f9f9f9;
}
main .mcontainer .section8 .center8 .question .questionm > li {
  background-color: #232324;
  padding: 0 40px;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #f9f9f9;
  position: relative;
  margin-bottom: 10px;
}
main .mcontainer .section8 .center8 .question .questionm > li a {
  width: 100%;
  display: block;
}
main .mcontainer .section8 .center8 .question .questionm > li:after {
  content: "";
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 30px;
  top: 22px;
  transition: transform 0.3s;
  transform: rotate(90deg);
}
main .mcontainer .section8 .center8 .question .questionm > li:before {
  content: "";
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 30px;
  top: 22px;
}
main .mcontainer .section8 .center8 .question .questionm > li .mDepthq {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
main .mcontainer .section8 .center8 .question .questionm > li .mDepthq li {
  font-weight: normal;
  border: none;
  font-size: 16px;
}
main .mcontainer .section8 .center8 .question .questionm > li .mDepthq li i {
  margin-right: 10px;
  font-size: 13px;
  line-height: 40px;
}
main .mcontainer .section8 .center8 .question .questionm > li .mDepthq li a {
  display: block;
  line-height: 40px;
  font-weight: lighter;
  text-indent: 25px;
  color: rgba(255, 255, 255, 0.4);
}
main .mcontainer .section8 .center8 .question .questionm > li.on:after {
  transform: none;
}
main .mcontainer .section9 .poster {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
main .mcontainer .section9 .poster img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
 footer

*/
footer .fohr {
  background-color: #232324;
  padding-bottom: 60px;
}
footer .fohr .centerfooter {
  width: 1106px;
  margin: 0 auto;
}
footer .fohr .centerfooter nav ul {
  display: flex;
}
footer .fohr .centerfooter nav ul li {
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 25%;
  color: #f9f9f9;
}
footer .fohr .centerfooter nav ul li span {
  line-height: 27px;
}
footer .fohr .centerfooter nav ul li a {
  line-height: 27px;
}
footer .fohr .centerfooter nav ul:nth-child(2) {
  margin: 27px 0;
}
footer .fohr .centerfooter nav ul:nth-child(4) {
  margin: 27px 0 54px 0;
}
footer .fohr .centerfooter .footerp {
  position: relative;
}
footer .fohr .centerfooter .footerp .spanp span {
  color: #f9f9f9;
  line-height: 52px;
}
footer .fohr .centerfooter .footerp .spanp span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 17px;
  background-color: #0063E5;
  margin: 0 10px;
  position: relative;
  top: 3px;
}
footer .fohr .centerfooter .footerp .spanp span:nth-child(1)::after {
  display: none;
}
footer .fohr .centerfooter .footerp .spanp span:nth-child(5)::after {
  display: none;
}
footer .fohr .centerfooter .footerp .spanp span:nth-child(9)::after {
  display: none;
}
footer .fohr .centerfooter .footerp .spanp .ceoemail {
  color: #0063E5;
}
footer .fohr .centerfooter .footerp .spanp p {
  margin: 27px 0;
}
footer .fohr .centerfooter .footerp .spanp p .heih::after {
  display: none;
}
footer .fohr .centerfooter .footerp .cjgroupselect {
  position: absolute;
  right: -4px;
  top: 114px;
  display: flex;
}
footer .fohr .centerfooter .footerp .cjgroupselect .cjbb #cjbox {
  padding-left: 15px;
  width: 217px;
  height: 38px;
  border-radius: 20px;
}
footer .fohr .centerfooter .footerp .cjgroupselect #searchBtn2 {
  width: 50px;
  height: 38px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
}
footer .fohr .centerfooter .footerp .ticking {
  display: flex;
  justify-content: end;
}
footer .fohr .centerfooter .footerp .ticking .tickingsu {
  width: 166px;
  height: 50px;
  background-color: #eb8102;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fohr .centerfooter .footerp .ticking .tickingsu p {
  color: #f9f9f9;
  font-size: 25px;
  font-weight: bold;
}
footer .fohr .centerfooter .footerp .ticking .arrow {
  width: 45px;
  height: 45px;
  margin-left: 8px;
}
footer .fohr .centerfooter .footerp .ticking .arrow i {
  color: #eb8102;
  font-size: 52px;
}
footer .fohr .centerfooter .footerp #go-top {
  z-index: 80;
  position: fixed;
  left: calc(50% + 557px);
  bottom: 225px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
footer .fohr .centerfooter .footerp #go-top.active {
  opacity: 1;
  pointer-events: auto;
}
footer .foorbg {
  background-color: #141416;
}
footer .foorbg .AllRights {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .foorbg .AllRights span {
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foorbg .AllRights .yftbox {
  display: flex;
  padding: 60px 0;
}
footer .foorbg .AllRights .yftbox span {
  margin-left: 20px;
}
footer .foorbg .AllRights .yftbox .sns {
  color: #0063E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foorbg .AllRights .yftbox .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0063E5;
}
footer .foorbg .AllRights .yftbox .youtube i {
  font-size: 25px;
}
footer .foorbg .AllRights .yftbox .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0063E5;
}
footer .foorbg .AllRights .yftbox .facebook i {
  font-size: 25px;
}
footer .foorbg .AllRights .yftbox .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0063E5;
}
footer .foorbg .AllRights .yftbox .twitter i {
  font-size: 25px;
}
footer .foorbg .AllRights .yftbox .instar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0063E5;
}
footer .foorbg .AllRights .yftbox .instar i {
  font-size: 25px;
}