body{background-color: #f9f9f9; height: 80px; }
.padding{padding: 107px 0;}
.pat {padding-top: 81px;}
.patt{padding-top: 107px;}
/*
header
*/
#myFoty { margin-right: 30px; position: fixed;  left: calc(50% + 0px); z-index: 100; 
  transform:translateX(-50%);top:79px; display: flex; align-items: center;
  .box4 { position: relative; height: 3 50px; display: none; width: 1920px; background-color: #eb8102;
    .bbox{ position: absolute ; right:  calc(50% + -554px); display: flex; align-items: center;
      .box5 {  padding-left: 10px; width:1037px; height: 38px;border-radius: 4px; border: 1px solid #adb5bd;}
       #searchBtn {  width: 50px;  height: 38px;border-radius: 4px; background-color:#adb5bd ; border: none;}
    }
    .title{ display: flex; justify-content: center;  width: 1106px; margin-top: 67px;
        h2{ color: #fff6; font-size: 22px; margin-left: 10px;}
       }
    .center { display: flex; margin: 50px auto; width: 1106px; justify-content: start; 
       
      .piccse { margin-right: 30px; width: 142px; height: 201px; overflow: hidden; border-radius: 20px;
        img {  width: 100% ; height: 100%; transition: all 1s; 
          }
          
      }
      
      .specialboxse2{width: 27%; height: 201px; 
        .text23sear { display: flex; height: 23.7%; width: 100%; border-radius: 8px; border: 1px solid #adb5bd;
                align-items: center; justify-content: center; background-color: #eb8102; position: relative;

          .srcse22 {width: 100%; height: 100%; position: absolute; z-index: 30; opacity: 0;
              img { width: 100%; height: 100%;}
          }
          .textse32 { width: 85%; display: flex; align-items: center; justify-content: space-between; position: absolute; z-index: 29;
            h2{ color: #f9f9f9;
              &:last-child {  width: 220px; height: 40px; display: flex; align-items: center; justify-content: center;
                border-radius: 8px;
              }
            }                  
          }
          
        }
      }
    }  
  }
  
  
}  


#myFoty.on{  z-index: 100;
  .box4{display: block; 

  }
  
  
}
header{
  overflow: hidden;
  z-index: 150;
  position: fixed; left: 0; right: 0; top:0;
  box-sizing: border-box;
  
  padding: 10px 0;
  transition:height 0.5s;

  background:linear-gradient(white 95px, rgba(255,255,255,1) 95px, rgba(255,255,255,1) );
	height: 80px; 
 
  .container {  
    
    transition: 1s;
   width: 1106px;
   border-radius: 40px;
   background-color: #f9f9f9;  
   margin: 0 auto;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    .center{  
      width: 1106px;
      margin: 0 auto;
        
        display: flex; 
        align-items: center;
        justify-content: center;
      .logo { 
        margin-left: 20px;
        .logoh1 a {
          background: url(../images/cgv\ logo.png)no-repeat center/cover;
          width: 120px;
          height: 54px;
          display: block;
          text-indent: -9999em;
        }
      }
      nav > ul {    
        display: flex; 
        justify-content: space-between;
        
      }
      nav {
        width:61%; margin:0 auto; 
        >ul { 
          >li{ 
            text-align:center ;
            width: 100%;
            line-height:40px; 
            position: relative; 
            font-weight: bold;
            .menu {color: black; font-weight: bold; font-size: 18px; position: relative;
              &::after{content:""; display:block; height:2px;
                  background:black; position:absolute;left:50%;
                  transform:translateX(-50%);top:25px;
                  width:0%;transition:all 0.5s;  }  
            }
            
            
            > ul{ 
              position: absolute  ; 
              left:50%;
              top: 130%;
              transform:translateX(-50%);
              width: 100%;
              
              >li{ 
                
                white-space: nowrap; 
                line-height: 45px; 
                text-align: center; 
                font-size: 13px; 
                font-weight: normal  ;
                 >  a { display: block; line-height: 45px;
                         width: 100%;
                      position: relative;
                      color: black;
                      border-radius: 10px;
                      font-weight:normal;
                    &:hover {background-color: #141416; color: #f9f9f9;}      
                  }    
              }
            }
            &:hover .menu::after { width: 100%;}   
          }   
        }
      }
     .three{ position: relative; z-index: 50; transition: 0.5s;
        .login { 
          display: flex;  align-items: center;
          margin-right: 20px;
          i {
            line-height: 60px;
            margin-left: 23px;}
          a { 
            line-height: 60px; 
            margin-left: 4.5px;}
       
          .searcgs{  background: url(../images/ico-search-white.png)no-repeat center/cover;
            width: 25px;
            height: 25px;
            display: block;
            line-height: 60px;  
            margin-left: 23px;  
            border: none;
          }
        }
        
      }
      .three.on2{ 
        .login { 
          .searcgs{  background: url(../images/btn-header-layer-close.png)no-repeat center/cover;
            width: 25px;
            height: 25px;
            border: none;
            line-height: 60px;  
            margin-left: 23px;  
          }
                 
          
        }
        
      }
      
      .spanBtn { position: absolute; 
        left: calc(50% + 600px);
        top:42px; transform: translateY(-50%); 
        display: block  ;
        .line {margin: 6px; 
          display: block; 
          width: 35px; 
          height: 2px; 
          background-color: black; 
          transition: all 1s;}
      }
      .spanBtn.chg .top { 
        position: absolute; 
        left: 0; 
        top:0; 
        transform: rotate(45deg);}
      .spanBtn.chg .mid { 
        transform: translateX(10px);
         opacity: 0;}
      .spanBtn.chg .bot { 
        position: absolute; 
        left: 0; 
        bottom: 0; 
        transform: rotate(-45deg);
      } 
    }
  }
  .sideM { width: 480px; height:100vh; background-color:#f9f9f9 ; position: fixed; top:0; right: -480px;
    transition: all 1s;  z-index: 130; 
    .lineBtn { position: relative; display: flex; flex-direction: column;
       .btn2 { display: block; position: absolute; right: 50px; top:95px; transform: translateY(-50%);
          .line { display: block; width: 35px; height: 2px; background-color: #141416;transition: all 1s;}
          .top2 { position: absolute; left:0; top:5px; transform: rotate(45deg);}
          .mid2 { transform: translateX(10px); opacity: 0; margin: 5px 0;}
          .bot2 { position: absolute; left:0; bottom: 5px; transform: rotate(-45deg);}
   
       }
    }
   .sidemenu { margin-top: 225px; margin-left: 20px; 
      .mater { display: block;
        >li {  line-height: 40px; font-weight: bold; position: relative;
          a{width: 100%; display: block;}
          &:after{
          content:'';
          width: 10px;
          height: 1px;
          background: #000;
          position: absolute;
          right: 10px;
          top: 20px;
          transition: transform 0.3s;
          transform:rotate(90deg);
          } 
          &:before{
          content:'';
          width: 10px;
          height: 1px;
          background: #000;
          position: absolute;
          right: 10px;
          top: 20px;
          }
        
         
          .mDepth2 {height: 0; overflow: hidden; transition: all 0.5s;    
            li { font-size: 14px; 
              
              a { display: block; line-height: 50px; font-weight: lighter;
                  text-indent: 25px;color:#141416;  }
                  &:hover li { background-color: #141416; color: #f9f9f9;}
            }
          }
        } 
        > li.on:after{
          transform: none;
        }         
      }
      .three2{ margin-top: 57px; 
       
        
        #myFoty2 { margin-right: 30px; z-index: 100; opacity: 1; margin-top: 20px;
             display: flex; align-items: center;
          .box4 { width: 65px; height: 38px;border-radius: 4px;border: 1px solid #adb5bd;
              
          }
          .box5 { padding-left: 10px; width: 150px; height: 38px;border-radius: 4px; border: 1px solid #adb5bd;}
          #searchBtn {  width: 50px;  height: 38px;border-radius: 4px; background-color:#adb5bd ; border: none; margin-left: 10px;}
          
        }
        .yftbox{ display: flex; justify-content: start; margin-top: 15px;
          a{margin-right: 19px;} 
          span { margin-left: 20px;}
          .sns { color: #0063E5; display: flex; justify-content: center; align-items: center; }
          .youtube{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; margin: 0 auto; border-radius: 50%; background-color: #141416;
         
          i{font-size: 25px; color: #f9f9f9;}}
          .facebook{display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px;margin: 0 auto; border-radius: 50%; background-color: #141416;
            
              i{font-size: 25px;color: #f9f9f9;}}
          .twitter{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; margin: 0 auto; border-radius: 50%; background-color: #141416;
            
              i{font-size: 25px;color: #f9f9f9;}}
          .instar{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px;margin: 0 auto; border-radius: 50%; background-color: #141416;
            
              i{font-size: 25px;color: #f9f9f9;}}
        }  
      }
    }
  }
}
.sideM.move { right: 0;}
      
    
header.fixer{ position: fixed; top:0; bottom: unset; display: block;z-index: 51;
               background-color: #141416;
  .container{ 
      width: 100%;
      border-radius: 0;
      background-color: #141416;
    .center{
      width: 1106px;
      
      .logoh1 a { background-image: url(../images/logoWhite.png); 
       
      }
      
      nav {width:61%;
         margin:0 auto; 
        >ul { 
          >li{ 
            .menu {
            &::after { background-color: #f9f9f9;}
            }    
            
            >a{color:#f9f9f9; }
            > ul{ 
              
            &:hover .menu::after {background:#f9f9f9;  } 
            } 
          } 
        }
      }
      .three{
        .login { 
          color: #f9f9f9;
          i { color: #f9f9f9;}
          a { color: #f9f9f9;}
          .search {color: #f9f9f9;}
        } 
      } 
      .spanBtn {
        span { background-color: #f9f9f9;}
      }
    }
  }
}

/*
main
*/
main { 
  .mcontainer{ 
    .section1{ background-color: #141416; padding-top: 80px;
      .silder{position: relative; width: 1490px; height: 774px; margin: 0 auto;  ;
        .viewqer{display:flex; width:100%;
          .sildenum{width:100%;  height: 100%;position: absolute; opacity: 0;z-index: 2;transition:all 1s;
            &:nth-child(1){opacity: 1; z-index: 3;}
            a {
                img {width: 100%; height: 100%;}
            }
          }
        }
      }
      .btnsqw {
       
        .prevBtnqw{position: absolute; background:url(../images/leftBtn.png)no-repeat; width: 120px; height: 120px; 
           right: calc(50% + 729px); top:50%; transform: translateY(-50%);  z-index: 50; opacity: 0.6;
        &:hover {opacity: 1; }
        }
           
        .nextBtnqw{position: absolute; background: url(../images/rightBtn.png)no-repeat; width: 120px; height: 120px; 
          left: calc(50% + 807px); top:50%; transform: translateY(-50%); z-index: 50; opacity: 0.6;
        &:hover {opacity: 1; }}     
      }
      .circleBtn3{ z-index: 4; display: flex; position: absolute; left: 50%;bottom: 40px; transform: translateX(-50%); z-index: 10;
        .on{
            a{background-color:#f9f9f9 ;width: 250px;height: 2 ; 
            }
        }
        li{ 
          a {display: block; width: 250px;height: 2px;  
              background-color: #6e6e6e; margin: 5px  3px; transition: all 0.5s;
                
            }  
          &:hover a {background-color: #f9f9f9;}    
        }  
      }
    }
    .section2{   background-color: #141416;   padding: 135px 0;
      .center2 {   width: 1106px; margin: 0 auto; 
          
        .boxoffice{width: 100%;  margin: 0px auto; position: relative;
          .movie { text-align: center; padding-bottom:54px; display: flex; justify-content: center;
            .zero{ opacity: 0;}
            h2 { color: #f9f9f9; font-size: 32px; font-weight: bold;}
            
          }
          .cut{  position: absolute; top:46px; right: 0;
            .hcolor{ display: flex; justify-content: end;
              .current_time{ display: flex;
                > div {font-size: 20px; color: #fff;
                }
              }
              .days{ display: flex;
                  > div {font-size: 20px; color: #fff;
                  }
                  span{color: #fff;font-size: 20px;}
              }
            }
          } 
          
          
          .smallslider {position: relative;width: 100%; margin: 0 auto; display: flex; justify-content: center;
              
            .view{ width: 100%; height: 395px;
              > div{  position: absolute;
                  opacity: 0; transition: all 0.5s; z-index: 2;
              &:nth-child(1) { opacity: 1; z-index: 3;}
              }
              .pto3{display: flex; justify-content: center; 
                .pto {border: 2px solid #141416;box-sizing: border-box;  width: 243px; height: 337px; position: relative; border-radius: 10px; margin-right: 45px; 
                  a{  
                      img{width: 100%; height:100%; border-radius: 10PX;
                           } 
                                          
                  }
    
                  .age { position: absolute; top:25px ;right: calc(50% - 107px);
                    img{width: 30px; height:30px;}  
                  }
                    
                  .number{position: absolute; bottom: 0; left: 5px; color: #f9f9f9; font-size: 45px; font-family: "Shrikhand", serif;}
                  .cinema4{position: absolute; bottom: 40px; right: calc(50% - 110px); }
                  .cinema5{position: absolute; bottom: 26px; right: calc(50% - 110px); ;}
                  .cinema6{position: absolute; bottom: 10px; right: calc(50% - 110px);}
                    
                  
                  .heartTicketing { display: flex; justify-content: space-between; margin-top: 27px;
                    .heartbox{ display: flex; justify-content: center; border-radius: 10px; width: 100px; height: 30px; line-height: 30px;  border: 1px solid #f9f9f9; gap:15px; background-color: rgba(0, 0, 0, 0.4);
                      .favo {display: flex; justify-content: center;   color: #f9f9f9; line-height: 30px; }

                      .numerk {display: flex; justify-content: center;  color: #f9f9f9; line-height: 30px;}
                      }
                      
                      .ticketing { width: 130px; height: 30px; background-color: #0063E5; border-radius: 10px;
                        span {color: #f9f9f9; line-height: 30px; display: flex; align-items: center; justify-content: center;}
                      }
                  }
                  .trbg{ opacity: 0; transition: all 0.5s;
                    .bg{  position: absolute; top:50% ;left: 50%; transform: translate(-50%,-50%);  width: 101%;height: 105%; border-radius: 10px;  background-color: rgba(0, 0, 0, 0.8);}
                    .text{position: absolute; top:34%; left: 50%; height: 140px ;transform: translate(-50%,-50%);
                      .content {  display:block; width: 187px; line-height: 24px;height: 140px; 
                        color: #f9f9f9; 
                      }
                    }
                    .Reviewt { position: absolute; bottom:37px ; left:50%; transform: translateX(-50%); display: flex;
                      .Rev { display: block; color: #f9f9f9;font-size: 20px; line-height: 30px;}
                      .Review {display: block; color: #f9f9f9;font-size: 25px; line-height: 30px; margin-left: 8px; }
                    }
                    &:last-child{margin-right: 0;}  
                  }
                  &:hover .trbg{ opacity: 1;}  
                }
                
              }
            }    
            .btns2{ 
              >div{position: absolute;  top:41%; transform: translateY(-41%);z-index: 5;}
              .prevBtn2{  right: calc(50% + 560px); font-size: 30px; 
                  i { color: #f9f9f9;}
              }
              .nextBtn2{ left: calc(50% + 560px); font-size: 30px; 
                  i { color: #f9f9f9;}
              }    
            }
          }
          .search_text { position: absolute; top:4px; left: calc(50% + 367px); display: flex; align-items: center;
            h3 { color: #f9f9f9; font-size: 22px; position: relative;
              &:after{ content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 30px;  
                height: 2px;
                background: #f9f9f9;
                transition:0.3s;
                transform:scaleX(0); 
                transform-origin:0 50%;
                 
              }
            }
            span { color: #f9f9f9;}
            
            &:hover h3:after{transform:none;
            }
                 
            
            
          }   
        }
        .boxoffice2 { position: relative; 
          .movie2 { text-align: center; padding:135px 0 54px 0; display: flex; justify-content: space-between;
            .zero{ opacity: 0;}
            h2 { color: #f9f9f9; font-size: 32px; font-weight: bold; width: 100%; margin: 0 auto;}
            .cut2{  position: absolute; top:186px; right: 0;
              .hcolor{ display: flex; justify-content: end;
                .current_time{ display: flex;
                  > div {font-size: 20px; color: #fff;
                  }
                }
                .days{ display: flex;
                    > div {font-size: 20px; color: #fff;
                    }
                    span{color: #fff;font-size: 20px;}
                }
              }
            } 
          }
          
          .smallslider2 {position: relative;margin: 0 auto; display: flex; justify-content: center;
                  
            .view2{width: 100%; height: 395px;
              > div{  position: absolute; 
                  opacity: 0; transition: all 0.5s; z-index: 2;
              &:nth-child(1) { opacity: 1; z-index: 3;}
              }
              .pto4{display: flex;  justify-content: center;  
                .pto2 { border: 2px solid #141416;box-sizing: border-box;  width: 243px; height: 337px; position: relative; border-radius: 10px; margin-right: 45px;
                  a { 
                      img{width: 100%; height:100%; border-radius: 10PX;}   
                  }
                  .age { position: absolute; top:25px ;right: calc(50% - 107px);
                    img{width: 30px; height:30px;}  
                  }
                    
                  .number{position: absolute; bottom: 0; left: 5px; color: #f9f9f9; font-size: 45px; font-family: "Shrikhand", serif;}
                  .cinema4{position: absolute; bottom: 40px; right: calc(50% - 110px); }
                  .cinema5{position: absolute; bottom: 26px; right: calc(50% - 110px); ;}
                  .cinema6{position: absolute; bottom: 10px; right: calc(50% - 110px);}
                    
                  .text{position: absolute; top:34%; left: 50%; height: 140px ;transform: translate(-50%,-50%);
                    .content {  display:block; width: 187px; line-height: 24px; color: #f9f9f9;}
                  }
                  .heartTicketing { display: flex; justify-content: space-between; margin-top: 27px;
                    .heartbox{ display: flex; justify-content: center; border-radius: 10px; width: 100px; height: 30px; line-height: 30px;  border: 1px solid #f9f9f9; gap:15px; background-color: rgba(0, 0, 0, 0.4);
                      .favo {display: flex; justify-content: center;   color: #f9f9f9; line-height: 30px; }

                      .numerk {display: flex; justify-content: center;  color: #f9f9f9; line-height: 30px;}
                      }
                      
                    
                    .ticketing { width: 130px; height: 30px; background-color: #0063E5; border-radius: 10px;
                      span {color: #f9f9f9; line-height: 30px; display: flex; align-items: center; justify-content: center;}
                    }
                    
                    
                  } 
                  .trbg{ opacity: 0; transition: all 0.5s;
                    .bg{ position: absolute; top:50% ;left: 50%; transform: translate(-50%,-50%);  width:101%;height:101%; border-radius: 10px; background-color: rgba(0, 0, 0, 0.8);}
                    .text{position: absolute; top:34%; left: 50%; height: 140px ;transform: translate(-50%,-50%);
                      .content {  display:block; width: 187px; line-height: 24px;height: 140px; 
                        color: #f9f9f9; 
                      }
                    }
                    .Reviewt { position: absolute; bottom:37px ; left:50%; transform: translateX(-50%); display: flex;
                      .Rev { display: block; color: #f9f9f9;font-size: 20px;  line-height: 30px;}
                      .Review {display: block; color: #f9f9f9;font-size: 25px; line-height: 30px;  margin-left: 8px; }
                    }
                    &:last-child{margin-right: 0;}  
                  }
                  &:hover .trbg{ opacity: 1;}  
                }
              }
            }
            .btns22{ 
              >div{position: absolute;  top:41%; transform: translateY(-41%);z-index: 5;}
              .prevBtn22{  right: calc(50% + 560px); font-size: 30px; 
                  i { color: #f9f9f9;}
              }
              .nextBtn22{ left: calc(50% + 560px); font-size: 30px; 
                  i { color: #f9f9f9;}
              }    
            } 
          }
          .search_text { position: absolute; top:139px; left: calc(50% + 367px); display: flex; align-items: center;
            h3 { color: #f9f9f9; font-size: 22px;
              position: relative;
              &:after{ content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 30px;  
                height: 2px;
                background: #f9f9f9;
                transition:0.3s;
                transform:scaleX(0); 
                transform-origin:0 50%;
                 
              }}
            span { color: #f9f9f9;}
            &:hover h3::after {  transform:none;} 
          }   
        }  
      }
    }
    .section3event{ background-color: #141416;  position: relative;
      .titletext{width: 1106px; margin: 0 auto; display: flex; justify-content: space-between;
        h2 { color: #f9f9f9;font-size: 40px; font-weight: bold;}
        h3{ display: none;}

      }
      .center {  width: 1106px; margin: 0 auto; text-align: center;  height: 631px; 
        
        .Eventad { 
          >ul{ display: flex; justify-content: center; padding: 27px 0;
            li { font-size: 18px;
              &::after{ content:"";display: inline-block; position: relative; top:1px; width: 2px; height: 15px; 
                background-color: #eb8102; margin: 0 31px;} 
            
            a { color: #f9f9f9;}    
             
            &:last-child::after {
                display:none;}

            }
            li.on a {color: red;}
          }
          .box12{display: flex; flex-wrap: wrap;
            .all { width: 31.333333%; margin: 1%; position: relative;
              .bg {width: 98%; height: 98%; opacity: 0; background-color: #dacf45;  
                position: absolute; left: 5px; top:4px; transition: all 0.5s;text-align: center; 
                
                span{font-size: 100px; color: #f9f9f9; margin-top: 10%;}
                h2{ color: #f9f9f9;}
                p{color: #f9f9f9;}
              }
            
              img {width: 100%; height: 100%; object-fit: cover; object-position: top; border-radius: 8px; }
             }
            .small {height: 91px; background-color: #fff; border-radius: 8px; display: flex; justify-content: space-between; align-items: center;
              .smallcenter{ width: 300px;  margin: 0 auto; 
                .pass{ display: flex; justify-content: space-between; align-items: center; 
                  .passflex{ 
                    .smallpicture{  display: flex; justify-content: start;
                      h2{ font-weight: bold;}
                    }
                    .smallp{ text-align: start; margin-top: 10px;
                      p{ line-height: 20px;}
                    }
                  }
                  .crown{
                    i{ font-size: 50px;}
                  }
                }
              }
              
            }
            .big { height: 208px; }  
            .wide { width: 64.666666%; height: 202px;}  

          }
        }
      }
      .entire { position: absolute; top:0; left: calc(50% + 450px);  display: flex; align-items: center;width: 100%;
        h3{color: #f9f9f9; position: relative; font-size: 22px; font-weight: bold; 
          &:after{ content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 30px;  
            height: 2px;
            background: #f9f9f9;
            transition:0.3s;
            transform:scaleX(0); 
            transform-origin:0 50%;
             
          }
          
          
        }
        span{ color: #f9f9f9;}
        &:hover h3::after {  transform:none;} 
        
      }
      
    }
    .section4{ background-color: #141416;
      .center{ width: 1106px; margin: 0 auto; display: flex; justify-content: space-between;
        .box5 { width: 220px; height: 100px;  
          .imageb { width: 65px; height: 50px; margin: 0 auto; 
            img {width: 100%; height: 100%; }   
          }
          h3 { margin-top: 27px; color: #f9f9f9; text-align: center;}
        }
      }
    }
    .section8000{ background-color: #0458C6; position: relative;
      .count{ width: 1106px; margin: 0 auto;
        .picturep{width: 1090px; height: 268px;
          img{width: 100%;height: 100%;}
        }
        .pointbg{ 
          .countUp2{ width: 197px; height: 84px; position: absolute; top:118px; left:calc(50% + -509px);background-color: #0458C6;
            display: flex;justify-content: center; align-items: center;
            p{ color: #dacf45;font-size: 80px; font-weight: bold;}
          }
          .cgvcinema{top:136px; left:calc(50% + 389px); position: absolute; width: 104px; height: 133px; background-color: #eb8102;display: flex;justify-content: center; flex-direction: column;  align-items: center;
            a{text-align: center;}
            span{color: #f9f9f9; line-height: 30px; font-size: 20px;}
          }
        }
      }
    }
    .section5{ background-color: #141416; position: relative; padding-bottom: 4px;
      .titletext {padding-bottom: 27px;  width: 1106px; margin: 0 auto; display: flex; justify-content: space-between;
        h2{ color: #f9f9f9;font-size: 40px; font-weight: bold;}
        h3{ color: #f9f9f9; display: none;}
      }
      .center {display: flex; margin: 0 auto; width: 1106px; justify-content: space-between;
       
        .picc {  width: 49%; height: 316px; overflow: hidden; border-radius: 20px;
          img {  width: 100% ; height: 100%; transition: all 1s; 
            }
            &:hover img {transform: scale(1.1);}
        }
        
        .specialbox2{width: 49%; height: 310px; 
          .text23 { display: flex; height: 24.7%; width: 100%; border-radius: 8px; border: 1px solid #adb5bd;
                  align-items: center; justify-content: center; background-color: #141416; position: relative;

            .src22 {width: 100%; height: 100%; position: absolute; z-index: 30; opacity: 0;
                img { width: 100%; height: 100%;}
            }
            .text32 { width: 85%; display: flex; align-items: center; justify-content: space-between; position: absolute; z-index: 29;
              h2{ color: #f9f9f9;
                &:last-child { background-color: #0063E5; width: 220px; height: 40px; display: flex; align-items: center; justify-content: center;
                  border-radius: 8px;
                }
              }                  
            }
          }
        }
        .entire { position: absolute; top:114px; left: calc(50% + 440px);  display: flex; align-items: center; 
          h3{color: #f9f9f9; font-weight: bold; font-size: 22px;
            &:after{ content: '';
              position: absolute;
              left: 0;
              right: 0;
              top: 30px;  
              height: 2px;
              background: #f9f9f9;
              transition:0.3s;
              transform:scaleX(0); 
              transform-origin:0 50%;
               
            }
            
          }
          
          span{ color: #f9f9f9;}
          &:hover h3::after {  transform:none;}
          
        } 
      }
    }
    .section6{   background-color: #141416; position: relative;
      
      .center6{ width: 1106px;  margin: 0 auto;
        .titletext{ display: flex; justify-content: space-between; align-items: center;
          .title{ color: #f9f9f9; font-size: 40px; font-weight: bold;}
          h3{display: none;}
        }
        .menuflex{ display: flex; justify-content: space-between;
          .tabMenu {  width: 40%;  display: flex; padding: 41px 0;
            li {width:120px; line-height: 40px;   height:40px; text-align: center; margin-right: 2px;
            
                a {background-color: #fff; color:#000; border-radius: 8px;
                    display: block;height:100%;text-align: center;       
                }       
            }
            li a.active{
              color: #fff; 
              background: #0063E5;
            }   
          }
          h2{}
        }  
        .Wrap{ 
          .tabCont{  
            
            >div{ display: none; 
              .image{ width: 540px; height: 532px;
                img{ width: 100%; height: 100%; border-radius: 8px;}
              }
              .tabbox2 ,.tabbox22,.tabbox33{ 
                .text23{ 
                  
                  .tabs{ display: flex; 
                    .tabtext{ margin-left:  88px; 
                      .text32 ,.textop{ text-align: center; margin-bottom: 27px;
                        .src22 { width: 170px; height: 170px;
                          img { width: 100%; height: 100%; border-radius: 8px;}
      
                        }
                        h2{ color: #f9f9f9; margin: 23px auto;}
                        h3{color: #f9f9f9;}
                      }
                      
                    }
                  }
                } 
              }
            }
            >div.active { display: flex; justify-content: space-between;}
          }
        }
        .entire { position: absolute; top:197px; left: calc(50% + 445px);  display: flex; align-items: center;
          h3{color: #f9f9f9; position: relative; font-size: 22px;
            &:after{ content: '';
              position: absolute;
              left: 0;
              right: 0;
              top: 30px;  
              height: 2px;
              background: #f9f9f9;
              transition:0.3s;
              transform:scaleX(0); 
              transform-origin:0 50%;
               
            }
            
          }
          span{ color: #f9f9f9;}
          &:hover h3::after {  transform:none;} 
          
        }
      } 
    }
    .section7 { background-color: #141416;
      .center8{ width: 1106px; margin: 0 auto;
        .bigbox{width:100%;  display: flex; justify-content: space-between; align-items: center;  border: 1px solid #fff;
          .noticebox{ width: 54%; margin: 0 auto;  
             
            .notice{ 
              .noticet{ width: 90%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; justify-content: space-between;
                .notice1{ margin: 27px 0;
                  h2{color: #f9f9f9; }  
                }
                
                h3{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color: #f9f9f9; }
                
                .box{ width: 81px; height: 32px; background-color: #0063E5; border-radius: 8px; display: flex; justify-content: center; align-items: center;  
                  p{width: 100%; height: 100%; color: #f9f9f9;  display: flex; justify-content: center; align-items: center;}
                  span {  color: #f9f9f9;}
                }
              }
              .noticet2{ width: 90%; margin: 0 auto; margin-bottom: 27px; display: flex; justify-content: start;
                h2{color: #f9f9f9;}
                h3{ color: #f9f9f9;}  
              }          
            }
            .faq{ border-top: 1px solid #fff; 
              .faqbox{   width: 90%; margin: 0 auto;   display: flex; justify-content: space-between; align-items: center; margin-top: 27px;
                .faqcenter{  display: flex;
                  h2{color: #f9f9f9; }
                  p{color: #f9f9f9;}
                }
                .faq2{ display: flex;  align-items: center;
                  .faq3{ margin-right: 37px; display: flex; justify-content: center; align-items: center; background-color: #0063E5; border-radius: 8px;  width: 81px; height: 32px;
                    p{   color: #f9f9f9;
                        
                    }
                  }
                  .faq4{display: flex; justify-content: center; align-items: center; background-color: #0063E5; border-radius: 8px;  width: 81px; height: 32px;
                    p{   color: #f9f9f9;
                      
                    }
                  }
                }
              }
              .faqbox2{ width: 90%; margin: 0 auto; display: flex; justify-content: space-between;  align-items: center;
                .work{ margin: 27px 0;
                  h2{ color: #f9f9f9;  }
                }
                .faq5{ background-color: #0063E5; border-radius: 8px; width:200px; height: 32px; display: flex; justify-content: center; align-items: center;
                  p{   color: #f9f9f9;
                      
                  }
                } 
              }
            }
            
          }   
          .download{ width: 24%;  text-align: center; border-left: 1px solid #fff; border-right: 1px solid #fff;
            .apdown{ margin: 27px 0 ;
              h2{ color: #f9f9f9;}
            }
            .cgvap{ font-size: 14px; color: #f9f9f9;}
            .qrcode{ width: 52px; height: 52px ;  margin: 27px auto;
              img{width: 100%; height: 100%;}
            }
            .qrcodes{ margin-bottom: 27px;
              p{ font-size: 14px; color: #f9f9f9;
              }
            }
            .qrq{  margin-bottom: 27px;
              p {font-size: 14px; color: #f9f9f9;}
            }
          }
        
          .bugs{width: 22%; height: 272px;
            .cont7 { 
              .slideWrap{
                .swiper-wrapper {
                  .swiper-slide{ width: 204px; height: 272px;
                    img{width: 100%;height: 100%; background: no-repeat; background-size: cover; background-position: center;}
                     }
                  .swiper-slide.s1{}
                  .swiper-slide.s2{}
                  .swiper-slide.s3{}    
                }
              }
            }
          }
        }
      }
    }
    .section8{ background-color: #141416;
      .center8{ width: 1106px; margin: 0 auto; 
        .center8h2{ display: flex; justify-content: center; padding-bottom: 30px;
          h2{ font-size: 42px; font-weight: bold; color: #f9f9f9;}
        }
        .question{   
          .questionm { 
            >li {  background-color: #232324; padding: 0 40px;   line-height: 50px; font-weight: bold; font-size: 20px;   color: #f9f9f9; position: relative; margin-bottom: 10px;
              a{width: 100%; display: block; }
                &:after{
                  content:'';
                  width: 20px;
                  height: 3px;
                  background: #fff;
                  position: absolute;
                  right: 30px;
                  top: 22px;
                  transition: transform 0.3s;
                  transform:rotate(90deg);
                  
                  } 
                  &:before{
                  content:'';
                  width: 20px;
                  height: 3px;
                  background: #fff;
                  position: absolute;
                  right: 30px;
                  top: 22px;
                  } 
              
                
              .mDepthq {height: 0; overflow: hidden; transition: all 0.5s;    
                li { font-weight: normal; border: none; font-size: 16px; 
                  i{ margin-right: 10px; font-size: 13px;line-height: 40px;}
                  
                  a {display: block; line-height: 40px; font-weight: lighter;
                      text-indent: 25px;color:#fff6;  }
                }
              }
            }
            > li.on:after{
              transform: none;
            }                
          }
        }
      }
    }
    .section9{ position: relative; background-color: #141416;
      .section9center{ 
        .clockcount {
          .poster { width: 100%; height: 300px; margin: 0 auto;
            img { width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat;}
          }
          .abso{display: flex; justify-content: center; align-items: center; position: absolute; bottom: 46%; left: calc(50% + 25px); width: 231px ;height: 40px; background-color: #fff;
            p{ font-size: 30px;
  
            }
          }
        }
        .count9box{ width: 1106px; margin: 0 auto;display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center; align-items: center;
          .one{
              .text{position: relative;top:50%;transform: translateY(-50%);
                  p{color: #fff;font-size:40px ;}
                  }
          }
          span{color: #fff;font-size: 70px;}
      
          > div {width: 200px; height: 200px; background-color: #fff; border-radius: 100%;
              background-color: #000;border: 2px solid #fff;}  
        }
      }  
    }
  }
}


/*
 footer

*/
footer {  
  .fohr{ background-color: #232324; padding: 60px 0;
    .centerfooter{ width: 1106px; margin: 0 auto; 
      nav {
        ul { display: flex; 
          li { line-height: 27px; display: flex; align-items: center;  width: 25%; color: #f9f9f9;
            span {  line-height: 27px;  }
            a { line-height: 27px;}
    
            
          }
          &:nth-child(2) {margin: 27px 0;}
          &:nth-child(4) {margin: 27px 0 54px 0;}
        }
      }
      .footerp { position: relative;
        .spanp {  
          span { color:#f9f9f9; line-height: 52px;
            &::after{content: ""; display: inline-block; width: 2px; height: 17px;
              background-color: #0063E5; margin: 0 10px; position: relative; top:3px; 
              
              
            }
            &:nth-child(1)::after  { display: none;}    
               
            &:nth-child(5)::after  { display: none;} 
            &:nth-child(9)::after  { display: none;} 
            
          }
          .ceoemail { color: #0063E5;}
          p { margin: 27px 0;
            .heih::after {display: none;}
          }
           
        }
        .cjgroupselect{ position: absolute; right:-4px;  top:114px; display: flex;
          .cjbb{ 
            #cjbox {  padding-left: 15px;
              width: 217px; height: 38px; border-radius: 20px; 
              option{ 
              }  
            }
          }
          #searchBtn2 {  width: 50px;  height: 38px;border-radius: 4px; background-color:#adb5bd ; border: none;}
  
        }
        .ticking{ display: flex; justify-content: end;   
          .tickingsu{ width: 166px; height: 50px; background-color: #eb8102; border-radius: 30px; display: flex; justify-content: center; align-items: center;
            p{color: #f9f9f9; font-size: 25px; font-weight:bold;}
          }
          .arrow{ width: 45px; height: 45px; margin-left: 8px;
            i { color: #eb8102; font-size: 52px ;  }
          }
        }
        #go-top{z-index: 80; position: fixed; left: calc(50% + 557px);bottom: 225px;  opacity: 0;pointer-events: none;
          transition: opacity 0.5s; }
        #go-top.active { 
          opacity: 1;
          pointer-events: auto;
        }    
      } 
    } 
  }
  
  .foorbg{ background-color: #141416; 
    .AllRights{ width: 1106px; margin: 0 auto;  display: flex; justify-content: space-between; 
      span { color: #f9f9f9; display: flex; justify-content: center; align-items: center; }
      .yftbox{ display: flex; padding: 60px 0;
        span { margin-left: 20px;}
        .sns { color: #0063E5; display: flex; justify-content: center; align-items: center; }
        .youtube{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
       
        i{font-size: 25px;}}
        .facebook{display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
          
            i{font-size: 25px;}}
        .twitter{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
          
            i{font-size: 25px;}}
        .instar{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
          
            i{font-size: 25px;}}
      }
    }
  }  
}

