body{background-color: #f9f9f9; padding-top: 80px; }

/*
header
*/
#myFoty { margin-right: 30px; position: absolute; left:76%;  z-index: 100; opacity: 0;
  transform:translateX(-50%);top:79px; display: flex; align-items: center;
  .box4 { width: 85px; height: 38px;border-radius: 4px;border: 1px solid #adb5bd;
      
  }
  .box5 { padding-left: 10px; width: 240px; height: 38px;border-radius: 4px; border: 1px solid #adb5bd;}
  #searchBtn {  width: 50px;  height: 38px;border-radius: 4px; background-color:#adb5bd ; border: none;}
  
}  


#myFoty.on{ opacity: 1;  z-index: 100;
  
  
}
header{
  overflow: hidden;
  z-index: 10;
  position: fixed; left: 0; right: 0; top:0;
  box-sizing: border-box;
  
  padding: 10px 0;
  transition:height 0.5s;

  background:linear-gradient(white 95px, rgba(255,255,255,1) 95px, rgba(255,255,255,1) );
	height: 80px; 
 
  .container {  
    
    transition: 1s;
   width: 1276px;
   border-radius: 40px;
   background-color: #f9f9f9;  
   margin: 0 auto;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    .center{  
      width: 1276px;
      margin: 0 auto;
        
        display: flex; 
        align-items: center;
        justify-content: center;
      .logo { 
        margin-left: 20px;
        .logoh1 a {
          background: url(../images/cgv\ logo.png)no-repeat center/cover;
          width: 120px;
          height: 54px;
          display: block;
          text-indent: -9999em;
        }
      }
      nav > ul {    
        display: flex; 
        justify-content: space-between;
        
      }
      nav {
        width:800px; margin:0 auto; 
        >ul { 
          >li{ 
            text-align:center ;
            width: 100%;
            line-height:40px; 
            position: relative; 
            font-weight: bold;
            .menu {color: black; font-weight: bold; font-size: 18px; position: relative;
              &::after{content:""; display:block; height:2px;
                  background:black; position:absolute;left:50%;
                  transform:translateX(-50%);top:25px;
                  width:0%;transition:all 0.5s;  }  
            }
            
            
            > ul{ 
              position: absolute  ; 
              left:50%;
              top: 130%;
              transform:translateX(-50%);
              width: 100%;
              >li{ 
                
                white-space: nowrap; 
                line-height: 45 px; 
                text-align: center; 
                font-size: 14px; 
                font-weight: normal  ;
                 >  a { display: block;
                         width: 100%;
                      position: relative;
                      color: black;
                      border-radius: 10px;
                      font-weight:normal;
                    &:hover {background-color: #141416; color: #f9f9f9;}      
                  }    
              }
            }
            &:hover .menu::after { width: 100%;}   
          }   
        }
      }
     .three{ position: relative; z-index: 50; transition: 0.5s;
        .login { 
          display: flex;  align-items: center;
          margin-right: 20px;
          i {
            line-height: 60px;
            margin-left: 23px;}
          a { 
            line-height: 60px; 
            margin-left: 4.5px;}
       
          .searcgs{  background: url(../images/ico-search-white.png)no-repeat center/cover;
            width: 18px;
            height: 18px;
            
            line-height: 60px;  
            margin-left: 23px;  
          }
        }
        
      }
      .three.on2{ 
        .login { 
          .searcgs{  background: url(../images/btn-header-layer-close.png)no-repeat center/cover;
            width: 18px;
            height: 18px;
            
            line-height: 60px;  
            margin-left: 23px;  
          }
                 
          
        }
        
      }
      
      .spanBtn { position: absolute; 
        right:  234px; 
        top:43px; transform: translateY(-50%); 
        display: block  ;
        .line {margin: 6px; 
          display: block; 
          width: 35px; 
          height: 2px; 
          background-color: black; 
          transition: all 1s;}
      }
      .spanBtn.chg .top { 
        position: absolute; 
        left: 0; 
        top:0; 
        transform: rotate(45deg);}
      .spanBtn.chg .mid { 
        transform: translateX(10px);
         opacity: 0;}
      .spanBtn.chg .bot { 
        position: absolute; 
        left: 0; 
        bottom: 0; 
        transform: rotate(-45deg);
      } 
    }
  }
  .sideM { width: 280px; height:100vh; background-color:#f9f9f9 ; position: fixed; top:0; right: -280px;
    transition: all 1s;  z-index: 99; 
    .lineBtn { position: relative; display: flex; flex-direction: column;
       .btn2 { display: block; position: absolute; right: 50px; top:10%; transform: translateY(-50%);
          .line { display: block; width: 35px; height: 2px; background-color: #141416;transition: all 1s;}
          .top2 { position: absolute; left:0; top:5px; transform: rotate(45deg);}
          .mid2 { transform: translateX(10px); opacity: 0; margin: 5px 0;}
          .bot2 { position: absolute; left:0; bottom: 5px; transform: rotate(-45deg);}
   
       }
    }
   .sidemenu { margin-top: 225px; margin-left: 20px; 
      .mater { display: block;
        li { line-height: 40px; font-weight: bold;
            
          .mDepth2 {height: 0; overflow: hidden; transition: all 0.5s;    
            li { 
              a {display: block; line-height: 50px; font-weight: lighter;
                  text-indent: 25px;color:#141416;  }
            }
          }
        }          
      }
      .three2{ margin-top: 150px; 
       
        
        #myFoty2 { margin-right: 30px; z-index: 100; opacity: 1; margin-top: 20px;
             display: flex; align-items: center;
          .box4 { width: 65px; height: 38px;border-radius: 4px;border: 1px solid #adb5bd;
              
          }
          .box5 { padding-left: 10px; width: 150px; height: 38px;border-radius: 4px; border: 1px solid #adb5bd;}
          #searchBtn {  width: 50px;  height: 38px;border-radius: 4px; background-color:#adb5bd ; border: none; margin-left: 10px;}
          
        }  
      }
    }
  }
}
.sideM.move { right: 0;}
      
    
header.fixer{ position: fixed; top:0; bottom: unset; display: block;z-index: 51;
               background-color: #141416;
  .container{ 
      width: 100%;
      border-radius: 0;
      background-color: #141416;
    .center{
      width: 1272px;
      
      .logoh1 a { background-image: url(../images/logoWhite.png); 
       
      }
      
      nav {width:800px;
         margin:0 auto; 
        >ul { 
          >li{ 
            .menu {
            &::after { background-color: #f9f9f9;}
            }    
            
            >a{color:#f9f9f9; }
            > ul{ 
              
            &:hover .menu::after {background:#f9f9f9;  } 
            } 
          } 
        }
      }
      .three{
        .login { 
          color: #f9f9f9;
          i { color: #f9f9f9;}
          a { color: #f9f9f9;}
          .search {color: #f9f9f9;}
        } 
      } 
      .spanBtn {
        span { background-color: #f9f9f9;}
      }
    }
  }
}

/*
main
*/
main { 
  .mcontainer{
    .section1{ background-color: #141416;
      .silder{position: relative; width: 1490px; height: 774px; margin: 0 auto;  ;
        .viewqer{display:flex; width:100%;
          .sildenum{width:100%;  height: 100%;position: absolute; opacity: 0;z-index: 2;transition:all 1s;
            &:nth-child(1){opacity: 1; z-index: 3;}
            a {
                img {width: 100%; height: 100%;}
            }
          }
        }
      }
      .btns {
       
        .prevBtn{position: absolute; background:url(../images/leftBtn.png)no-repeat; width: 120px; height: 120px; 
          left:-113px; top:50%; transform: translateY(-50%);  z-index: 50; opacity: 0.6;
        &:hover {opacity: 1; }
        }
           
        .nextBtn{position: absolute; background: url(../images/rightBtn.png)no-repeat; width: 120px; height: 120px; 
          right:-180px; top:50%; transform: translateY(-50%); z-index: 50; opacity: 0.6;
        &:hover {opacity: 1; }}     
      }
      .circleBtn{ z-index: 4; display: flex; position: absolute; left: 50%;bottom: 40px; transform: translateX(-50%); z-index: 10;
        .on{
            a{background-color:#f9f9f9 ;width: 250px;height: 2 ; 
            }
        }
        li{ 
          a {display: block; width: 250px;height: 2px;  
              background-color: #6e6e6e; margin: 5px  3px; transition: all 0.5s;
                
            }  
          &:hover a {background-color: #f9f9f9;}    
        }  
      }
    }
    .section2{   background-color: #141416; padding: 0 0 50px 0;
      .center2 {   width: 1106px; margin: 0 auto;  display: flex; justify-content: center;
          .search_text{

          }
          
        .boxoffice{width: 50%; margin: 0px auto;
          .dtt {width: 385px; height: 367px;  margin: 50px auto; 
            .image1{width:100%; height: 100%; background: url(../images/small11.jpg);background-size: cover; background-repeat: no-repeat;    
              img {
                }
            }
          }
          
          .smallslider {position: relative;margin: 0 auto;width: 80%; height: 173px; display: flex; justify-content: center;
              
            .view{width: 100%; height: 100%; 
              > div{ width: 100%; height: 100%; position: absolute; 
                  opacity: 0; transition: all 0.5s; z-index: 2;
              &:nth-child(1) { opacity: 1; z-index: 3;}
              }
              .pto3{display: flex; justify-content: center; 
                .pto {border: 1px solid #000;box-sizing: border-box;  width: 125px; position: relative;
                  a {
                      img{width: 100%; height: 173px;}   
                  }
                  .age { position: absolute; top:3px ;left: 86px;}
                    
                  .number{position: absolute; bottom: 0; left: 0; color: #f9f9f9; font-size: 35px;}
                  .cinema4{
                    .textds{
                      .contentds { position: absolute; display: none;}
                    }
                    .Reviewt { position: absolute; top:10px ; left:10px; display: flex;
                      .Rev {}
                      .Review {}
                    }
                  }  
                }
              }
            }
            .btns2{ 
                >div{position: absolute; top:50%; transform: translateY(-50%);z-index: 5;}
                .prevBtn2{  left:-50px; font-size: 30px; 
                    i { color: #000;}
                }
                .nextBtn2{ right: -50px; font-size: 30px; 
                    i { color: #000;}
                }    
            }
            .circleBtn2{ position: absolute; left:50%; bottom: -35px; transform: translateX(-50%);
                z-index: 4;display: flex;
                li{ 
                    a { display: block; width: 20px; background-color: #f9f9f9; border-radius: 50%;
                        height: 20px; margin: 0 10px;transition: all 0.5s;}
                }
                li.on a{background-color: #0063E5;width: 50px; border-radius: 20px; }
            }
          }  
        }
        .boxoffice2 { width: 50%; margin: 0px auto;
        
          .image12{ margin: 50px auto;width: 385px; height: 367px; background-image:url(../images/small1.jpg);
              background-size: cover; background-repeat: no-repeat; 
              img{
                width: 100%; height: 100%;
              }
          }
          .smallslider2 {position: relative;margin: 0 auto;width: 80%; height: 173px; display: flex; justify-content: center;
                  
            .view2{width: 100%; height: 100%;
                > div{ width: 100%; height: 100%; position: absolute; 
                    opacity: 0; transition: all 0.5s; z-index: 2;
                &:nth-child(1) { opacity: 1; z-index: 3;}
                }
                .pto4{display: flex;  justify-content: center;
                    .pto2 {border: 1px solid #000;box-sizing: border-box; width: 125px; position: relative;
                      a {
                        img{width: 100%; height: 173px;}   
                      }
                      .age { position: absolute; top:3px ;left: 86px;}
                        
                      .number{position: absolute; bottom: 0; left: 0; color: #f9f9f9; font-size: 35px;}
                      .cinema4{
                        .textds{
                          .contentds { position: absolute; display: none;}
                        }
                        .Reviewt { position: absolute; top:10px ; left:10px; display: flex;
                          .Rev {}
                          .Review {}
                        }
                      }  
                    }
                }
              }
            .btns22{ 
                div{position: absolute; top:50%; transform: translateY(-50%);z-index: 5;}
                .prevBtn22{  left:-100px; font-size: 30px;
                    i { color: #000;}
                }
                .nextBtn22{ right: -100px; font-size: 30px;
                    i { color: #000;}
                }    
            }
            .circleBtn22{ position: absolute; left:50%; bottom: -35px; transform: translateX(-50%);
                z-index: 4;display: flex;
                li{ 
                    a { display: block; width: 20px; background-color: #f9f9f9; border-radius: 50%;
                        height: 20px; margin: 0 10px;transition: all 0.5s;}
                }
                li.on a{background-color: #0063E5;width: 50px; border-radius: 20px; }
            }
          }
        }
      }
    }
    .section3event{ background-color: #141416; margin: 300px auto;
      .titletext{width: 1106px; display: flex; justify-content: space-between;
        h2 { color: #f9f9f9;}
        h3{ color: #f9f9f9;}

      }
      .center {  width: 1106px; margin: 0 auto; text-align: center; height: 800px;
        
        .Eventad { 
          >ul{ display: flex; justify-content: center;
            li { 
              &::after{ content:"";display: inline-block; position: relative; top:1px; width: 2px; height: 15px; 
                background-color: #eb8102; margin: 0 31px;} 
            
            a { color: #f9f9f9;}    
             
            &:last-child::after {
                display:none;}

            }
            li.on a {color: red;}
          }
          .box12{display: flex; flex-wrap: wrap;
            .all { width: 31.333333%; margin: 1%; position: relative;
              .bg {width: 98%; height: 98%; opacity: 0; background-color: #dacf45;  
                position: absolute; left: 5px; top:4px; transition: all 0.5s;text-align: center; 
                
                span{font-size: 100px; color: #f9f9f9; margin-top: 10%;}
                h2{ color: #f9f9f9;}
                p{color: #f9f9f9;}
              }
            
              img {width: 100%; height: 100%; }
             }
            .small {height: 91px;}
            .big { height: 208px; }  
            .wide { width: 64.666666%; height: 202px;}  

          }
        }
      }
    }
    .section4{ background-color: #141416;
      .center{ width: 1106px; margin: 0 auto; display: flex; justify-content: space-between;
        .box5 { width: 220px; height: 100px; 
          .imageb { width: 65px; height: 50px; margin: 0 auto; 
            img {width: 100%; height: 100%; }   
          }
          h3 { margin-top: 27px; color: #f9f9f9; text-align: center;}
        }
      }
    }
    .section5{ background-color: #141416;
      .titletext {  width: 1106px; margin: 0 auto; display: flex; justify-content: space-between;
        h2{ color: #f9f9f9;}
        h3{ color: #f9f9f9;}
      }
      .center {display: flex; margin: 0 auto; width: 1106px; justify-content: space-between;
       
        .picc {  width: 49%; height: 316px; overflow: hidden; border-radius: 20px;
          img {  width: 100% ; height: 100%; transition: all 1s; 
            }
            &:hover img {transform: scale(1.1);}
        }
        
        .specialbox2{width: 49%; height: 310px;
          .text23 { display: flex; height: 24.7%; width: 100%; border: 1px solid #adb5bd;
                  align-items: center; justify-content: center; background-color: #141416; position: relative;

            .src22 {width: 100%; height: 100%; position: absolute; z-index: 30; opacity: 0;
                img { width: 100%; height: 100%;}
            }
            .text32 { width: 85%; display: flex; align-items: center; justify-content: space-between; position: absolute; z-index: 29;
              h2{ color: #f9f9f9;
                &:last-child { background-color: #0063E5; width: 220px; height: 40px; display: flex; align-items: center; justify-content: center;
                  border-radius: 15px;
                }
              }                  
            }
          }
        }
      }
    }
    .section6{   background-color: #141416;
      
      .center6{ width: 1106px;  margin: 0 auto;
        .titletext{
          .title{}
        }
        .menuflex{ display: flex; justify-content: space-between;
          .tabMenu {  width: 40%;  display: flex;
            li {width:120px;line-height: 40px; height:40px; text-align: center; margin-right: 2px;
            
                a {background-color: #fff; color:#000; 
                    display: block;height:100%;text-align: center;       
                }       
            }
            li a.active{
              color: #fff; 
              background: #0063E5;
            }   
          }
          h2{}
        }  
        .Wrap{ 
          .tabCont{  
            
            >div{ display: none; 
              .image{ width: 582px; height: 532px;
                img{ width: 100%; height: 100%;}
              }
              .tabbox2 ,.tabbox22,.tabbox33{ 
                .text23{ 
                  
                  .tabs{ display: flex; 
                    .tabtext{ margin-left:  88px; 
                      .text32 ,.textop{ text-align: center; margin-bottom: 27px;
                        .src22 { width: 170px; height: 170px;
                          img { width: 100%; height: 100%;}
      
                        }
                        h2{ color: #f9f9f9; margin: 23px auto;}
                        h3{color: #f9f9f9;}
                      }
                      
                    }
                  }
                } 
              }
            }
            >div.active { display: flex;}
          }
        }
      } 
    }
    .section7 {
      .center8{ width: 1106px; margin: 0 auto;
        .bigbox{  display: flex; border: 1px solid #141416;
          .noticebox{
            .notice{ 
              .noticet{display: flex; 
                h2{margin: 21px 10px 20px 41px; font-size: 14px;}
                h3{ margin: 21px 10px 20px 41px; font-size: 16px;}
                .box{ width: 81px; height: 32px; background-color: #0063E5; display: flex; justify-content: center; align-items: center;  
                  p{width: 100%; height: 100%; color: #f9f9f9; font-size: 16px; display: flex; justify-content: center; align-items: center;}
                  span {  color: #f9f9f9;}
                }
              }
              .noticet2{ display: flex; margin-bottom: 23px; 
                h2{font-size: 14px; margin: 0 48px 0 41px;}
                h3{font-size: 16px; }  
              }          
            }
            .faq{
              .faqbox{ display: flex; border-top: 1px solid #141416;
                h2{ margin: 42px 41px;font-size: 16px;}
                .faq2{ display: flex;  
                  p{  margin-right: 18px; font-size: 16px; width: 90px; height: 35px; background-color: #0063E5;
                  color: #f9f9f9; display: flex; justify-content: center; align-items: center; 
                
                  }
                }

              }
              .faqbox2{ display: flex; 
                h2{ margin-left: 41px; font-size: 16px;}
                .faq3{
                  p{font-size: 16px; width: 203px; height: 35px; background-color: #0063E5; color: #f9f9f9;
                    display: flex; justify-content: center; align-items: center; margin-left: 47px; margin-bottom: 10px;
                  }
                }
              }
            }
          }
          .download{ text-align: center; border-left: 1px solid #141416; border-right: 1px solid #141416;
            h2{margin: 22px 0;}
            p{margin: 0 40px;}
            .qrcode{ width: 52px; height: 52px ; margin: 21px auto;
              img{width: 100%; height: 100%;}
            }
            p{
              &:last-child{margin: 22px 0;}
            }
          }
          .bugs{width: 204px;
            img{width: 100%; height: 100%;}
          }
        }
      }
    }
    .section8{

    }
    .section9{ 
      .clockcount {}
      .poster { width: 100%; height: 300px; margin: 0 auto;
        img { width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat;}
      }
    }
  }
}


/*
 footer

*/
footer {  background-color: #141416;
  .centerfooter{ width: 1106px; margin: 0 auto; 
    nav {
      ul { display: flex; 
        li { line-height: 27px; display: flex; align-items: center;  width: 25%; color: #f9f9f9;
          span {  line-height: 27px;  }
          a { line-height: 27px;}
  
          
        }
        &:nth-child(2) {margin: 27px 0;}
        &:nth-child(4) {margin: 27px 0 54px 0;}
      }
    }
    .footerp { position: relative;
      .spanp {  margin-bottom: 60px;
        span { color:#f9f9f9; 
          &::after{content: ""; display: inline-block; width: 2px; height: 17px;
            background-color: #0063E5; margin: 0 10px; position: relative; top:3px; 
          }
          &:nth-child(1)::after  { display: none;}    
             
          &:nth-child(6)::after  { display: none;} 
          
          
        }
        .ceoemail { color: #0063E5;}
        p { margin: 27px 0;
          .heih::after {display: none;}
        }
         
      }
      .cjgroupselect{ position: absolute; right:-4px;  top:10px;
        .cjbox {width: 217px; height: 30px; border-radius: 20px; 

        }
      }
      .ticking{ display: flex; justify-content: end;  position: absolute; top:60px; right:-56px;
        .tickingsu{ width: 166px; height: 50px; background-color: #eb8102; border-radius: 30px; display: flex; justify-content: center; align-items: center;
          p{color: #f9f9f9;}
        }
        .arrow{ width: 45px; height: 45px; margin-left: 8px;
          i { color: #f9f9f9; font-size: 52px;}
        }
      }
    }
    .htd { }
    .AllRights{ display: flex; justify-content: space-between; padding: 51px 0; 
      span { color: #f9f9f9; display: flex; justify-content: center; align-items: center; }
      .yftbox{ display: flex; 
        span { margin-left: 20px;}
        .sns { color: #0063E5; display: flex; justify-content: center; align-items: center; }
        .youtube{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
        a{display: block;
        i{font-size: 20px;}}}
        .facebook{display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
          a{display: block;
            i{font-size: 20px;}}}
        .twitter{ display: flex; justify-content: center; align-items: center;  width: 42px; height: 42px; border-radius: 50%; background-color: #0063E5;
          a{display: block;
            i{font-size: 20px;}}}
      }
    }
  }  
}